<div class="latest-news shadow bg-white">
    <img class="w-100 ratio-1x1 object-fit-cover" src="./assets/media/images/<%= latestNews.src %>" alt="">
    <div class="d-flex gap-3 p-3 flex-column">
        <div class="d-flex gap-6 align-items-center">
            <span class="fs-normal bg-primary rounded-1 p-2 text-button-text"> <%- latestNews.category %></span>
            <div>
                <span class="text-text fs-normal"> <%- latestNews.date %></span>
                <i class="fa-air-freshener"></i>
            </div>
        </div>
        <h3 class="fs-title fw-bold text-title-text mb-0"><%- latestNews.title %></h3>
        <a href="" class="fs-title fw-bold text-decoration-none">
            <span class="fs-big fw-semibold text-button-text"><%- latestNews.txtButton %></span>
            <i class="fa-air-freshener"></i>
        </a>
    </div>
</div>