<div class="container position-relative statistics">

    <div class="bg-white rounded-4 shadow-lg py-4 px-5">

        <div class="row text-center g-4">

            <div class="col-md-3 d-flex line justify-content-center gap-6">
                <img src="<%= getMedia(lang, 'components/cycle-icon1.png', 'images'); %>" width="40">
                <div  class="d-flex flex-column">
                    <h2 class="fw-bold mt-2 text-muted">25+</h2>
                    <span class="text-muted">
                        <%- t.components.statistics.text1 %>
                    </span>
                </div>
            </div>
            
            <div class="col-md-3 d-flex line justify-content-center gap-6">
                <img src="<%= getMedia(lang, 'components/cycle-icon2.png', 'images'); %>" width="40">
                <div class="d-flex flex-column">
                    <h2 class="fw-bold mt-2 text-muted">1530+</h2>
                    <span class="text-muted">
                       <%- t.components.statistics.text2 %>
                    </span>
                </div>
            </div>
            
            <div class="col-md-3 d-flex line justify-content-center gap-6">
                <img src="<%= getMedia(lang, 'components/cycle-icon3.png', 'images'); %>" width="40">
                <div  class="d-flex flex-column">
                    <h2 class="fw-bold mt-2 text-muted">1310+</h2>
                    <span class="text-muted">
                       <%- t.components.statistics.text3 %>
                    </span>
                </div>
            </div>

            <div class="col-md-3 d-flex justify-content-center gap-6">
                <img src="<%= getMedia(lang, 'components/cycle-icon4.png', 'images'); %>" width="40">
               <div  class="d-flex flex-column">
                    <h2 class="fw-bold mt-2 text-muted">50+</h2>
                    <span class="text-muted">
                       <%- t.components.statistics.text4 %>
                    </span>
               </div>
            </div>
        </div>

    </div>

</div>