<div class="account-features d-flex flex-column align-items-start gap-1 w-100 px-8 py-6">
    <div class="line mb-4"></div>
    <h3 class="fs-mid-title fw-bold"><%- accountFeatures.title %></h3>
    <span class="fs-big"><%- accountFeatures.subtitle %></span>
    <div class="d-flex flex-column align-items-start gap-5 mt-5">
        <div class="d-flex flex-row align-items-center gap-4">
            <img src="<%- getMedia(lang, 'components/icon1.png', 'images') %>" class="icon bg-white rounded-1 px-2 py-2">
            <div class="d-flex flex-column align-items-start">
                <h4 class="fs-title fw-bold"><%- accountFeatures.itemOne.title %></h4>
                <span class="fs-normal"><%- accountFeatures.itemOne.subtitle %></span>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center gap-4">
            <img src="<%- getMedia(lang, 'components/icon2.png', 'images') %>" class="icon bg-white rounded-1 px-2 py-2">
            <div class="d-flex flex-column align-items-start">
                <h4 class="fs-title fw-bold"><%- accountFeatures.itemTwo.title %></h4>
                <span class="fs-normal"><%- accountFeatures.itemTwo.subtitle %></span>
            </div>
        </div>
        
        <div class="d-flex flex-row align-items-center gap-4">
            <img src="<%- getMedia(lang, 'components/icon3.png', 'images') %>" class="icon bg-white rounded-1 px-2 py-2">
            <div class="d-flex flex-column align-items-start">
                <h4 class="fs-title fw-bold"><%- accountFeatures.itemThree.title %></h4>
                <span class="fs-normal"><%- accountFeatures.itemThree.subtitle %></span>
            </div>
        </div>
        
        <div class="d-flex flex-row align-items-center gap-4">
            <img src="<%- getMedia(lang, 'components/icon4.png', 'images') %>" class="icon bg-white rounded-1 px-2 py-2">
            <div class="d-flex flex-column align-items-start">
                <h4 class="fs-title fw-bold"><%- accountFeatures.itemFour.title %></h4>
                <span class="fs-normal"><%- accountFeatures.itemFour.subtitle %></span>
            </div>
        </div>
    </div>
</div>