<div class="contact-details d-flex flex-column align-items-start gap-3">
    <div class="d-flex flex-row align-items-center gap-4 w-100 bg-white py-2 px-3 rounded-1 hover">
        <i class="fa-solid fa-location-dot text-primary fs-high-title py-2 px-4 icon"></i>
        <div class="d-flex flex-column align-items-start">
            <h4 class="fs-title fw-bold"><%- ContactDetails.itemOne.title %></h4>
            <span class="fs-big fw-semibold"><%- ContactDetails.itemOne.value %></span>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center gap-4 w-100 bg-white py-2 px-3 rounded-1 hover">
        <i class="fa-solid fa-phone text-primary fs-high-title py-2 icon"></i>
        <div class="d-flex flex-column align-items-start">
            <h4 class="fs-title fw-bold"><%- ContactDetails.itemTwo.title %></h4>
            <span class="fs-big fw-semibold"><%- ContactDetails.itemTwo.value %></span>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center gap-4 w-100 bg-white py-2 px-3 rounded-1 hover">
        <i class="fa-solid fa-envelope text-primary fs-high-title py-2 icon"></i>
        <div class="d-flex flex-column align-items-start">
            <h4 class="fs-title fw-bold"><%- ContactDetails.itemThree.title %></h4>
            <span class="fs-big fw-semibold"><%- ContactDetails.itemThree.value %></span>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center gap-4 w-100 bg-white py-2 px-3 rounded-1 hover">
        <i class="fa-solid fa-clock text-primary fs-high-title py-2 icon"></i>
        <div class="d-flex flex-column align-items-start">
            <h4 class="fs-title fw-bold"><%- ContactDetails.itemFour.title %></h4>
            <span class="fs-big fw-semibold"><%- ContactDetails.itemFour.valueOne %></span>
            <span class="fs-big fw-semibold"><%- ContactDetails.itemFour.valueTwo %></span>
        </div>
    </div>
</div>