
    <div class="items-card rounded-3 d-flex g-0 text-center flex-wrap">

        <div class="col-6 col-xxl-3 col-xl-3 col-lg-3 border p-4 d-flex flex-column align-items-center gap-1">

            <div class="bg-primary rounded-circle d-inline-flex align-items-center p-3">

                <i class="fa-solid fa-star"></i>

            </div>

            <span class="fw-bold fs-mid-title"><%= t.components.itemCard.itemOne.number %><span class="fs-title"><%= t.components.itemCard.itemOne.percent %></span></span>

            <span class="fw-bold"><%= t.components.itemCard.itemOne.title %></span>

            <div class="text-primary">★★★★★</div>

            <p class=""><%= t.components.itemCard.itemOne.description %></p>

        </div>

        <div class="col-6 col-xxl-3 col-xl-3 col-lg-3 border p-4 d-flex flex-column align-items-center gap-1">

            <div class="bg-primary rounded-circle d-inline-flex align-items-center p-3">

                <i class="fa-solid fa-quote-left"></i>

            </div>

            <span class="fs-mid-title fw-bold"><%= t.components.itemCard.itemTwo.number %></span>

            <span class="fw-bold"><%= t.components.itemCard.itemTwo.title %></span>

            <p class=""><%= t.components.itemCard.itemTwo.description %></p>

        </div>

        
        <div class="col-6 col-xxl-3 col-xl-3 col-lg-3 border p-4 d-flex flex-column align-items-center gap-1">

            <div class="bg-primary rounded-circle d-inline-flex align-items-center p-3">

                <i class="fa-solid fa-clipboard"></i>

            </div>

            <span class="fs-mid-title fw-bold"><%= t.components.itemCard.itemThree.number %></span>

            <span class="fw-bold"><%= t.components.itemCard.itemThree.title %></span>

            <p class=""><%= t.components.itemCard.itemThree.description %></p>

        </div>

        <div class="col-6 col-xxl-3 col-xl-3 col-lg-3 border p-4 d-flex flex-column align-items-center gap-1">

            <div class="bg-primary rounded-circle d-inline-flex align-items-center p-3">

                <i class="fa-solid fa-thumbs-up"></i>

            </div>

            <span class="fs-mid-title fw-bold"><%= t.components.itemCard.itemFour.number %></span>

            <span class="fw-bold"><%= t.components.itemCard.itemFour.title %></span>

            <p class=""><%= t.components.itemCard.itemFour.description %></p>

        </div>

    </div>
