<div id="cycleCards" class="container-fluid d-flex row px-5 py-4 flex-sm-wrap position-relative">
    <div class="cycle-card container-fluid d-flex flex-column gap-3 align-items-center justify-content-start col-lg-3 col-md-6 position-relative">
        <div class="line container-fluid border-top border-secondary-text position-absolute"></div>
        <div class="cycle-icon border border-1 border-secondary-text rounded-circle bg-white d-flex align-items-center justify-content-center">
            <img src="<%- getMedia(lang, 'components/second-cycle-card-icon-1.png', 'images') %>" alt="" class="icon">
        </div>
        <span class="fs-title text-center bold fw-bold">01</span>
        <h3 class="fs-title text-center"><%- secondCycleCards.itemOne.title %></h3>
        <p class="fs-subtitle text-text text-center fw-medium"><%- secondCycleCards.itemOne.subtitle %></p>
    </div>
    <div class="cycle-card container-fluid d-flex flex-column gap-3 align-items-center justify-content-start col-lg-3 col-md-6 position-relative">
        <div class="line container-fluid border-top border-secondary-text position-absolute"></div>
        <div class="cycle-icon border border-1 border-secondary-text rounded-circle bg-white d-flex align-items-center justify-content-center">
            <img src="<%- getMedia(lang, 'components/second-cycle-card-icon-2.png', 'images') %>" alt="" class="icon">
        </div>
        <span class="fs-title text-center bold fw-bold">02</span>
        <h3 class="fs-title text-center"><%- secondCycleCards.itemTwo.title %></h3>
        <p class="fs-subtitle text-text text-center fw-medium"><%- secondCycleCards.itemTwo.subtitle %></p>
    </div>
    <div class="cycle-card container-fluid d-flex flex-column gap-3 align-items-center justify-content-start col-lg-3 col-md-6 position-relative">
        <div class="line container-fluid border-top border-secondary-text position-absolute"></div>
        <div class="cycle-icon border border-1 border-secondary-text rounded-circle bg-white d-flex align-items-center justify-content-center">
            <img src="<%- getMedia(lang, 'components/second-cycle-card-icon-3.png', 'images') %>" alt="" class="icon">
        </div>
        <span class="fs-title text-center bold fw-bold">03</span>
        <h3 class="fs-title text-center"><%- secondCycleCards.itemThree.title %></h3>
        <p class="fs-subtitle text-text text-center fw-medium"><%- secondCycleCards.itemThree.subtitle %></p>
    </div>
    <div class="cycle-card container-fluid d-flex flex-column gap-3 align-items-center justify-content-start col-lg-3 col-md-6 position-relative">
        <div class="line container-fluid border-top border-secondary-text position-absolute"></div>
        <div class="cycle-icon border border-1 border-secondary-text rounded-circle bg-white d-flex align-items-center justify-content-center">
            <img src="<%- getMedia(lang, 'components/second-cycle-card-icon-4.png', 'images') %>" alt="" class="icon">
        </div>
        <span class="fs-title text-center bold fw-bold">04</span>
        <h3 class="fs-title text-center"><%- secondCycleCards.itemFour.title %></h3>
        <p class="fs-subtitle text-text text-center fw-medium"><%- secondCycleCards.itemFour.subtitle %></p>
    </div>
</div>