<div id="featureCard" class="container-fluid d-flex px-5 py-4 flex-sm-wrap">
    <div class="feature-card container-fluid d-flex flex-column gap-2 align-items-center justify-content-start col-lg-3 col-md-6">
        <img class="feature-icon" src="<%- getMedia(lang, 'components/feature-icon1.png', 'images') %>" alt="">
        <h3 class="fs-title text-center"><%- featureCards.itemOne.title %></h3>
        <p class="fs-subtitle text-text text-center fw-medium"><%- featureCards.itemOne.subtitle %></p>
    </div>
        <div class="feature-card container-fluid d-flex flex-column gap-2 align-items-center justify-content-start col-lg-3 col-md-6">
        <img class="feature-icon" src="<%- getMedia(lang, 'components/feature-icon2.png', 'images') %>" alt="">
        <h3 class="fs-title text-center"><%- featureCards.itemTwo.title %></h3>
        <p class="fs-subtitle text-text text-center "><%- featureCards.itemTwo.subtitle %></p>
    </div>
        <div class="feature-card container-fluid d-flex flex-column gap-2 align-items-center justify-content-start col-lg-3 col-md-6">
        <img class="feature-icon" src="<%- getMedia(lang, 'components/feature-icon3.png', 'images') %>" alt="">
        <h3 class="fs-title text-center"><%- featureCards.itemThree.title %></h3>
        <p class="fs-subtitle text-text text-center fw-medium"><%- featureCards.itemThree.subtitle %></p>
    </div>
        <div class="feature-card container-fluid d-flex flex-column gap-2 align-items-center justify-content-start col-lg-3 col-md-6">
        <img class="feature-icon" src="<%- getMedia(lang, 'components/feature-icon4.png', 'images') %>" alt="">
        <h3 class="fs-title text-center"><%- featureCards.itemFour.title %></h3>
        <p class="fs-subtitle text-text text-center fw-medium"><%- featureCards.itemFour.subtitle %></p>
    </div>
</div>