<div class="history-timeline d-grid grid-4 px-6 py-5">
    <div class="d-flex flex-column gap-4">
        <i class="fa-solid fa-building fs-high-title text-dark text-center"></i>
        <div class="line-box">
            <div class="little-line"></div>
            <div class="circle"></div>
            <div class="long-line"></div>
        </div>
        <div class="d-flex flex-column align-items-start gap-3 pe-5">
            <h3 class="fs-mid-title fw-bold"><%- historyTimeline.itemOne.title %></h3>
            <span class="fs-big fw-semibold text-text"><%- historyTimeline.itemOne.text %></span>
        </div>
    </div>

    <div class="d-flex flex-column gap-4">
        <i class="fa-solid fa-briefcase fs-high-title text-dark text-center"></i>
        <div class="line-box">
            <div class="little-line"></div>
            <div class="circle"></div>
            <div class="long-line"></div>
        </div>
        <div class="d-flex flex-column align-items-start gap-3 pe-5">
            <h3 class="fs-mid-title fw-bold"><%- historyTimeline.itemTwo.title %></h3>
            <span class="fs-big fw-semibold text-text"><%- historyTimeline.itemTwo.text %></span>
        </div>
    </div>

    <div class="d-flex flex-column gap-4">
        <i class="fa-solid fa-trophy fs-high-title text-dark text-center"></i>
        <div class="line-box">
            <div class="little-line"></div>
            <div class="circle"></div>
            <div class="long-line"></div>
        </div>
        <div class="d-flex flex-column align-items-start gap-3 pe-5">
            <h3 class="fs-mid-title fw-bold"><%- historyTimeline.itemThree.title %></h3>
            <span class="fs-big fw-semibold text-text"><%- historyTimeline.itemThree.text %></span>
        </div>
    </div>

    <div class="d-flex flex-column gap-4">
        <i class="fa-solid fa-leaf fs-high-title text-dark text-center"></i>
        <div class="line-box">
            <div class="little-line"></div>
            <div class="circle"></div>
            <div class="little-line"></div>
        </div>
        <div class="d-flex flex-column align-items-start gap-3 pe-5">
            <h3 class="fs-mid-title fw-bold"><%- historyTimeline.itemFour.title %></h3>
            <span class="fs-big fw-semibold text-text"><%- historyTimeline.itemFour.text %></span>
        </div>
    </div>
</div>