<div id="secondFeatureCard" class="container-fluid d-flex px-5 rounded-1">
    <div class="second-feature-card container-fluid d-flex flex-column gap-2 align-items-center justify-content-start py-4 col-lg-3 col-md-6">
        <img class="feature-icon" src="<%- getMedia(lang, 'components/second-feature-card-icon-1.png', 'images') %>" alt="">
        <div class="line"></div>
        <h3 class="fs-title text-center"><%- secondFeatureCards.itemOne.title %></h3>
        <p class="fs-subtitle text-text text-center fw-medium"><%- secondFeatureCards.itemOne.subtitle %></p>
    </div>
    <div class="second-feature-card container-fluid d-flex flex-column gap-2 align-items-center justify-content-start py-4 col-lg-3 col-md-6">
        <img class="feature-icon" src="<%- getMedia(lang, 'components/second-feature-card-icon-2.png', 'images') %>" alt="">
        <div class="line"></div>
        <h3 class="fs-title text-center"><%- secondFeatureCards.itemTwo.title %></h3>
        <p class="fs-subtitle text-text text-center "><%- secondFeatureCards.itemTwo.subtitle %></p>
    </div>
    <div class="second-feature-card container-fluid d-flex flex-column gap-2 align-items-center justify-content-start py-4 col-lg-3 col-md-6">
        <img class="feature-icon" src="<%- getMedia(lang, 'components/second-feature-card-icon-3.png', 'images') %>" alt="">
        <div class="line"></div>
        <h3 class="fs-title text-center"><%- secondFeatureCards.itemThree.title %></h3>
        <p class="fs-subtitle text-text text-center fw-medium"><%- secondFeatureCards.itemThree.subtitle %></p>
    </div>
    <div class="second-feature-card container-fluid d-flex flex-column gap-2 align-items-center justify-content-start py-4 col-lg-3 col-md-6">
        <img class="feature-icon" src="<%- getMedia(lang, 'components/second-feature-card-icon-4.png', 'images') %>" alt="">
        <div class="line"></div>
        <h3 class="fs-title text-center"><%- secondFeatureCards.itemFour.title %></h3>
        <p class="fs-subtitle text-text text-center fw-medium"><%- secondFeatureCards.itemFour.subtitle %></p>
    </div>
</div>