<div
    class="pricing-table popular-style d-flex flex-column align-items-center gap-4 rounded-1 shadow bg-black">
    <span class="w-100 bg-primary py-1 fs-big fw-bold text-black d-flex align-items-center justify-content-center"><%- popularStyle.popularText %></span>
    <div class="d-flex flex-column align-items-center gap-4 shadow px-6 py-5">
        <h4 class="fs-mid-title fw-semibold text-primary"><%- popularStyle.title %></h4>
        <span class="fs-big text-white"><%- popularStyle.subtitle %></span>
        <span class="fs-big text-white"><span class="fs-mid-title fw-bold text-primary"><%- popularStyle.price %></span><%- popularStyle.priceText %></span>
        <i class="fa-solid fa-building fs-mid-title icon text-primary"></i>
        <div class="d-flex flex-column align-items-start gap-4 w-100">
            <div class="d-flex flex-row align-items-center gap-3">
                <i class="fa-solid fa-check text-primary"></i>
                <span class="fs-big fw-semibold text-white"><%- popularStyle.itemOneText %></span>
            </div>
            <div class="d-flex flex-row align-items-center gap-3">
                <i class="fa-solid fa-check text-primary"></i>
                <span class="fs-big fw-semibold text-white"><%- popularStyle.itemTwoText %></span>
            </div>
            <div class="d-flex flex-row align-items-center gap-3">
                <i class="fa-solid fa-check text-primary"></i>
                <span class="fs-big fw-semibold text-white"><%- popularStyle.itemThreeText %></span>
            </div>
            <div class="d-flex flex-row align-items-center gap-3">
                <i class="fa-solid fa-check text-primary"></i>
                <span class="fs-big fw-semibold text-white"><%- popularStyle.itemFourText %></span>
            </div>
            <div class="d-flex flex-row align-items-center gap-3">
                <i class="fa-solid fa-check text-primary"></i>
                <span class="fs-big fw-semibold text-white"><%- popularStyle.itemFiveText %></span>
            </div>
            <div class="d-flex flex-row align-items-center gap-3">
                <i class="fa-solid fa-check text-primary"></i>
                <span class="fs-big fw-semibold text-white"><%- popularStyle.itemSixText %></span>
            </div>
        </div>
        <a href=""
            class="pricing-table-popular transition-300 text-decoration-none text-black w-100 d-flex align-items-center justify-content-center py-2 fs-big fw-bold rounded-1 bg-primary"><%- popularStyle.btnText %></a>
    </div>
</div>