    <div class="team-feature w-100 d-flex gap-4 align-items-stretch">

        <div class="w-100 h-100">

            <div class="bg-dark border-0 rounded-3 p-4 d-flex flex-column gap-3">

                
                <i class="fa-solid fa-shield-heart fs-mid-title text-primary"></i>
                <span class="fw-bold text-secondary"><%= t.components.teamFeature.itemOne.title %></span>

                <p class="text-secondary text-text"><%= t.components.teamFeature.itemOne.description %></p>

            </div>

        </div>

        <div class="w-100 h-100">
            
            <div class="bg-dark border-0 rounded-3 p-4 d-flex flex-column gap-3">
                <i class="fa-solid fa-award fs-mid-title text-primary"></i>
                

                <span class="fw-bold text-secondary"><%= t.components.teamFeature.itemTwo.title %></span>

                <p class="text-secondary text-text"><%= t.components.teamFeature.itemTwo.description %></p>

            </div>

        </div>

        <div class="w-100 h-100">

            <div class="bg-dark border-0 rounded-3 p-4 d-flex flex-column gap-3">
                <i class="fa-solid fa-pencil-ruler fs-mid-title text-primary"></i>

                <span class="fw-bold text-secondary"><%= t.components.teamFeature.itemThree.title %></span>

                <p class="text-secondary text-text"><%= t.components.teamFeature.itemThree.description %></p>

            </div>

        </div>

        <div class="w-100 h-100">

            <div class="bg-dark border-0 rounded-3 p-4 d-flex flex-column gap-3">

                <i class="fa-solid fa-users fs-mid-title text-primary"></i>

                <span class="fw-bold text-secondary"><%= t.components.teamFeature.itemFour.title %></span>

                <p class="text-secondary text-text"><%= t.components.teamFeature.itemFour.description %></p>

            </div>

        </div>

    </div>
