
    <footer class="footer bg-dark text-secondary py-5 ">
        <div class="container">

            <div class="row row-gap-8 row-gap-lg-0">

                
                <div class="d-flex flex-column gap-4 col-12 col-lg-3 col-sm-6">

                    <img src="<%- getMedia(lang, 'footer/logo.png', 'images') %>" class="" width="210">

                    <p  class=""><%= t.footer.description %></p>

                    <div class="social d-none gap-2 d-xxl-flex d-xl-flex d-lg-flex align-items-center mt-2">

                        <a  href="<%= navigation(lang , '') %>" style="width: 30px; background: #28292A; height: 30px;" class="rounded d-flex justify-content-center align-items-center text-decoration-none text-reset">
                            <i class="fab fa-facebook-f "></i>
                        </a>

                        <a href="<%= navigation(lang , '') %>"  style="width: 30px; background: #28292A; height: 30px;" class="rounded d-flex justify-content-center align-items-center text-decoration-none text-reset">
                            <i class="fab fa-linkedin-in "></i>
                        </a>

                        <a href="<%= navigation(lang , '') %>" style="width: 30px; background: #28292A; height: 30px;"  class="rounded d-flex justify-content-center align-items-center text-decoration-none text-reset">
                            <i class="fab fa-instagram "></i>
                        </a>

                        <a href="<%= navigation(lang , '') %>"  style="width: 30px; background: #28292A; height: 30px;" class="rounded d-flex justify-content-center align-items-center text-decoration-none text-reset">
                            <i class="fab fa-youtube "></i>
                        </a>

                    </div>

                </div>

                
                <div class="col-12 col-lg-2 col-sm-6 d-flex flex-column gap-4">

                    <h6 class="fw-bold"><%= t.footer.quickLinks.txt %></h6>

                    <ul class="list-unstyled d-flex flex-column gap-1">

                        <li class="w-fit-content">
                            <a href="<%= navigation(lang , '') %>" class="text-decoration-none text-reset"><%= t.footer.quickLinks.home %></a>
                        </li>

                        <li class="w-fit-content">
                            <a href="<%= navigation(lang , '') %>" class="text-decoration-none text-reset"><%= t.footer.quickLinks.aboutUs %></a>
                        </li>

                        <li class="w-fit-content">
                            <a href="<%= navigation(lang , '') %>" class="text-decoration-none text-reset"><%= t.footer.quickLinks.services %></a>
                        </li>

                        <li class="w-fit-content">
                            <a href="<%= navigation(lang , '') %>" class="text-decoration-none text-reset"><%= t.footer.quickLinks.projects %></a>
                        </li>

                        <li class="w-fit-content">
                            <a href="<%= navigation(lang , '') %>" class="text-decoration-none text-reset"><%= t.footer.quickLinks.blogs %></a>
                        </li>

                        <li class="w-fit-content">
                            <a href="<%= navigation(lang , '') %>" class="text-decoration-none text-reset"><%= t.footer.quickLinks.contactUs %></a>
                        </li>

                    </ul>

                </div>

                
                <div class="col-12 col-lg-2 col-sm-6 d-flex flex-column gap-4">

                    <h6 class="fw-bold"><%= t.footer.ourSservices.txt %></h6>

                    <ul class="list-unstyled d-flex flex-column gap-1">
                        <li class="w-fit-content">
                            <a href="<%= navigation(lang , '') %>" class="text-decoration-none text-reset"><%= t.footer.ourSservices.construction %></a>
                        </li>
                        <li class="w-fit-content">
                            <a href="<%= navigation(lang , '') %>" class="text-decoration-none text-reset"><%= t.footer.ourSservices.design %></a>
                        </li>
                        <li class="w-fit-content">
                            <a href="<%= navigation(lang , '') %>" class="text-decoration-none text-reset"><%= t.footer.ourSservices.renovation %></a>
                        </li>
                        <li class="w-fit-content">
                            <a href="<%= navigation(lang , '') %>" class="text-decoration-none text-reset"><%= t.footer.ourSservices.interior %></a>
                        </li>
                        <li class="w-fit-content">
                            <a href="<%= navigation(lang , '') %>" class="text-decoration-none text-reset"><%= t.footer.ourSservices.project %></a>
                        </li>
                    </ul>

                </div>

                
                <div class="col-12 col-lg-3 col-sm-6 d-flex flex-column gap-4">

                    <h6 class="fw-bold"><%= t.footer.contact.txt %></h6>

                    <ul class="list-unstyled d-flex flex-column gap-2">
                        <li class="d-flex gap-2 align-items-baseline w-fit-content">
                            <i class="fa-solid fa-location text-primary"></i>
                            <div class="d-flex flex-column justify-content-start">
                                <span class=""><%= t.footer.contact.address1 %></span>
                                <span class=""><%= t.footer.contact.address2 %></span>
                            </div>
                        </li>
                        <li class="d-flex gap-2 align-items-baseline w-fit-content">
                            <i class="fa-solid fa-light fa-phone text-primary"></i>
                            <span class=""><%= t.footer.contact.phoneNumber %></span>
                        </li>
                        <li class="d-flex gap-2 align-items-baseline w-fit-content">
                            <i class="fa-solid fa-envelope text-primary"></i>
                            <span class=""><%= t.footer.contact.email %></span>
                        </li>
                        <li class="d-flex gap-2 align-items-baseline w-fit-content">
                            <i class="fa-solid fa-clock text-primary"></i>
                            <span  class=""><%= t.footer.contact.timeWork %></span>
                        </li>
                    </ul>

                    <div class="social d-xxl-none d-xl-none d-lg-none d-flex align-items-center gap-2">

                        <a  href="<%= navigation(lang , '') %>" style="width: 30px; background: #28292A; height: 30px;" class="rounded d-flex justify-content-center align-items-center text-decoration-none text-reset">
                            <i class="fab fa-facebook-f "></i>
                        </a>

                        <a href="<%= navigation(lang , '') %>"  style="width: 30px; background: #28292A; height: 30px;" class="rounded d-flex justify-content-center align-items-center text-decoration-none text-reset">
                            <i class="fab fa-linkedin-in "></i>
                        </a>

                        <a href="<%= navigation(lang , '') %>" style="width: 30px; background: #28292A; height: 30px;"  class="rounded d-flex justify-content-center align-items-center text-decoration-none text-reset">
                            <i class="fab fa-instagram "></i>
                        </a>

                        <a href="<%= navigation(lang , '') %>"  style="width: 30px; background: #28292A; height: 30px;" class="rounded d-flex justify-content-center align-items-center text-decoration-none text-reset">
                            <i class="fab fa-youtube "></i>
                        </a>

                    </div>


                </div>

            
                <div class="col-12 col-lg-2 gap-4 d-flex flex-column">

                    <h6 class="fw-bold text-nowrap"><%= t.footer.recent %></h6>

                    <div class="row g-1">

                        <a href="<%= navigation(lang , '') %>" class="col-2 col-xxl-4 col-lg-6">
                            <img src="<%- getMedia(lang, 'footer/ChatGPT1.png', 'images') %>" class="img-fluid rounded w-100 image-hover">
                        </a>

                        <a href="<%= navigation(lang , '') %>" class="col-2 col-xxl-4 col-lg-6">
                            <img src="<%- getMedia(lang, 'footer/ChatGPT2.png', 'images') %>" class="img-fluid rounded w-100 image-hover">
                        </a>

                        <a href="<%= navigation(lang , '') %>" class="col-2 col-xxl-4 col-lg-6">
                            <img src="<%- getMedia(lang, 'footer/ChatGPT3.png', 'images') %>" class="img-fluid rounded w-100 image-hover">
                        </a>

                        <a href="<%= navigation(lang , '') %>" class="col-2 col-xxl-4 col-lg-6">
                            <img src="<%- getMedia(lang, 'footer/ChatGPT4.png', 'images') %>" class="img-fluid rounded w-100 image-hover">
                        </a>

                        <a href="<%= navigation(lang , '') %>" class="col-2 col-xxl-4 col-lg-6">
                            <img src="<%- getMedia(lang, 'footer/ChatGPT5.png', 'images') %>" class="img-fluid rounded w-100 image-hover">
                        </a>

                        <a href="<%= navigation(lang , '') %>" class="col-2 col-xxl-4 col-lg-6">
                            <img src="<%- getMedia(lang, 'footer/ChatGPT6.png', 'images') %>" class="img-fluid rounded w-100 image-hover">
                        </a>

                    </div>

                </div>

            </div>

            <hr class="bg-light">

            <div class="copyright">

                © 2024 Buildex Construction. All Rights Reserved.

            </div>

        </div>
    </footer>
