<%- include('../layouts/page/head.ejs', {title: 'miz'}); %>

	<h1><%= t.pages.homePage.title %></h1>
	<a href="<%= navigation(lang, 'weblog.html') %>"></a>
	<a href="<%= getMedia(lang, 'logo.png', 'images') %>"></a>

<%- include('../layouts/page/foot.ejs'); %>