<div class="news-box shadow bg-white">
    <div class="image p-3">
        <span class="fs-normal bg-primary rounded-1 p-2 text-button-text"> <%- newsBox.category %></span>
    </div>
    <div class="d-flex gap-3 p-3 flex-column">
        <div>
            <span class="text-text fs-normal"> <%- newsBox.date %></span>
            <i class="fa-air-freshener"></i>
        </div>
        <h3 class="fs-title fw-bold text-title-text mb-0"><%- newsBox.title %></h3>
        <p class="fs-big text-text lh-lg mb-0"><%- newsBox.description %></p>
        <a href="" class="fs-title fw-bold text-decoration-none">
            <span class="fs-big fw-semibold text-button-text"><%- newsBox.txtButton %></span>
            <i class="fa-air-freshener"></i>
        </a>
    </div>
</div>