
    <div class="subscribe border-0 shadow-sm rounded-3 px-4 d-flex flex-column py-4 gap-2" >

        <p class="fw-bold fs-mid-title fw-bold"><%= t.components.subscribe.title %></p>

        <span class="fw-semibold text-uppercase small text-primary fs-title"><%= t.components.subscribe.subTitle %></span>

        <span class=""><%= t.components.subscribe.description %></span>

        <div class="d-flex w-100">

            <input type="email" class="rounded-start-2 py-2 w-75 text-text" placeholder="<%= t.components.subscribe.placeHolder %>">

            <button class="px-4 w-25 rounded-end bg-primary">
                <i class="fa-solid fa-arrow-right"></i>
            </button>

        </div>

        <div class="">

            <input class="form-check-input" type="checkbox" id="policy">

            <label class="" for="policy"><%= t.components.subscribe.law %></label>

        </div>

    </div>
