<%- include('../layouts/page/head.ejs' , {title: "services" , addCount: 0}); -%>
    <%- include('../components/header/content.ejs', ); -%>
    <main>
        <section id="servicesHero" class="bg-dark text-white py-5">
            <div class="container d-flex flex-column py-lg-5">

                <span class="text-warning text-uppercase fw-semibold fs-small mb-3">
                   <%- t.pages.arServices.heroSubtitle %>
                </span>

                <h1 class="services-title fs-high-title fw-bold mb-4">
                  <%- t.pages.arServices.heroTitle2 %><br><%- t.pages.arServices.for %> <span class="text-warning"><%- t.pages.arServices.heroTitle1 %></span>
                </h1>

                <p class="text-secondary fs-normal col-lg-6">
                 <%- t.pages.arServices.heroDescription %>
                </p>

            </div>
        </section>

        <section class="services-section py-7">
            <div class="container">
                <div class="row g-4">
                    <article class="col-md-6 col-xl-4">
                        <%- include('../components/services-card/content.ejs', {servicesCard: t.components.servicesCard}); -%>
                    </article>

                    <article class="col-md-6 col-xl-4">
                        <%- include('../components/services-card/content.ejs', {servicesCard: t.components.servicesCard}); -%>
                    </article>

                    <article class="col-md-6 col-xl-4">
                        <%- include('../components/services-card/content.ejs', {servicesCard: t.components.servicesCard}); -%>
                    </article>

                    <article class="col-md-6 col-xl-4">
                        <%- include('../components/services-card/content.ejs', {servicesCard: t.components.servicesCard}); -%>
                    </article>

                    <article class="col-md-6 col-xl-4">
                        <%- include('../components/services-card/content.ejs', {servicesCard: t.components.servicesCard}); -%>
                    </article>

                    <article class="col-md-6 col-xl-4">
                        <%- include('../components/services-card/content.ejs', {servicesCard: t.components.servicesCard}); -%>
                    </article>
                </div>
            </div>

        </section>

        <section class="process-section py-7">
            <div class="container">
                <div class="row align-items-start gy-5">
                    <aside class="col-lg-4">
                        <span class="fs-big fw-bold text-primary text-uppercase">
                           <%- t.pages.arServices.sectiontwosubtitle %>
                        </span>
                        <h2 class="fs-high-title fw-bold mt-3 mb-0">
                           <%- t.pages.arServices.sectiontwotitle %>
                        </h2>
                        <span class="section-divider d-block mt-4"></span>
                        <p class="fs-normal text-text mt-4 mb-5">
                           <%- t.pages.arServices.sectiontwoDescription %>
                        </p>
                        <a id="btnCTA" class="bg-primary text-black d-flex align-items-center gap-4 rounded-1 btn-hover fw-bold" href="#">
                            <span class="fs-normal"><%- t.pages.arServices.sectiontwobtn %></span>
                            <i class="fas fa-arrow-right-long fs-small"></i>
                        </a>

                    </aside>

                    <div class="col-lg-8">
                        <div id="cycleCards" class="container-fluid d-flex row px-5 py-4 flex-sm-wrap position-relative">
                            <div
                                class="cycle-card container-fluid d-flex flex-column gap-3 align-items-center justify-content-start col-lg-3 col-md-6 position-relative">
                                <div class="line container-fluid border-top border-secondary-text position-absolute">
                                </div>
                                <div
                                    class="cycle-icon border border-1 border-secondary-text rounded-circle bg-white d-flex align-items-center justify-content-center">
                                    <img src="<%- getMedia(lang, 'components/second-cycle-card-icon-1.png', 'images') %>"
                                        alt="" class="icon">
                                </div>
                                <span class="fs-title text-center bold fw-bold">01</span>
                                <h3 class="fs-title text-center"><%- t.components.secondCycleCards.itemOne.title %></h3>
                                <p class="fs-subtitle text-text text-center fw-medium"><%-
                                        t.components.secondCycleCards.itemOne.subtitle %></p>
                            </div>
                            <div
                                class="cycle-card container-fluid d-flex flex-column gap-3 align-items-center justify-content-start col-lg-3 col-md-6 position-relative">
                                <div class="line container-fluid border-top border-secondary-text position-absolute">
                                </div>
                                <div
                                    class="cycle-icon border border-1 border-secondary-text rounded-circle bg-white d-flex align-items-center justify-content-center">
                                    <img src="<%- getMedia(lang, 'components/second-cycle-card-icon-2.png', 'images') %>"
                                        alt="" class="icon">
                                </div>
                                <span class="fs-title text-center bold fw-bold">02</span>
                                <h3 class="fs-title text-center"><%- t.components.secondCycleCards.itemTwo.title %></h3>
                                <p class="fs-subtitle text-text text-center fw-medium"><%-
                                        t.components.secondCycleCards.itemTwo.subtitle %></p>
                            </div>
                            <div
                                class="cycle-card container-fluid d-flex flex-column gap-3 align-items-center justify-content-start col-lg-3 col-md-6 position-relative">
                                <div class="line container-fluid border-top border-secondary-text position-absolute">
                                </div>
                                <div
                                    class="cycle-icon border border-1 border-secondary-text rounded-circle bg-white d-flex align-items-center justify-content-center">
                                    <img src="<%- getMedia(lang, 'components/second-cycle-card-icon-3.png', 'images') %>"
                                        alt="" class="icon">
                                </div>
                                <span class="fs-title text-center bold fw-bold">03</span>
                                <h3 class="fs-title text-center"><%- t.components.secondCycleCards.itemThree.title %>
                                </h3>
                                <p class="fs-subtitle text-text text-center fw-medium"><%-
                                        t.components.secondCycleCards.itemThree.subtitle %></p>
                            </div>
                            <div
                                class="cycle-card container-fluid d-flex flex-column gap-3 align-items-center justify-content-start col-lg-3 col-md-6 position-relative">
                                <div class="line container-fluid border-top border-secondary-text position-absolute">
                                </div>
                                <div
                                    class="cycle-icon border border-1 border-secondary-text rounded-circle bg-white d-flex align-items-center justify-content-center">
                                    <img src="<%- getMedia(lang, 'components/second-cycle-card-icon-4.png', 'images') %>"
                                        alt="" class="icon">
                                </div>
                                <span class="fs-title text-center bold fw-bold">04</span>
                                <h3 class="fs-title text-center"><%- t.components.secondCycleCards.itemFour.title %>
                                </h3>
                                <p class="fs-subtitle text-text text-center fw-medium"><%-
                                        t.components.secondCycleCards.itemFour.subtitle %></p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </section>
    </main>

    <%- include('../components/footer/content.ejs', {accountFeatures: t.components.accountFeatures}); -%>

    <script src="./assets/js/mizchin.min.js"></script>
    </body>

    </html>