<%- include('../layouts/page/head.ejs' , {title: "contact-us", addCount: 0}); -%>

    <%- include('../components/header/content.ejs', ); -%>
    <main id="contact-us" class="d-flex flex-column pt-20">
        <section id="contact-hero" class="conainer-flouds bg-on-secondary d-flex align-items-center pt-20">
            <div class="container d-flex gap-4 flex-column py-6">
                <span class="text-primary fw-bold fs-normal"><%- t.pages.contactUs.heroSubtitle %></span>
                <h1 class="text-light fw-bold fs-big-title"><%- t.pages.contactUs.heroTitle1 %>
                    <br><span class="text-primary"><%- t.pages.contactUs.heroTitle2 %></span>
                </h1>
                <p class="text-text fw-medium fs-title"><%- t.pages.contactUs.heroDescription %></p>
            </div>
        </section>
        <section id="" class="conainer-flouds">
            <div class="container">
                <div class="row gy-4 gap-10">
                    <div class="col-xl-7 gap-3">
                        <div class="d-flex flex-column gap-5">
                            <div class="d-flex flex-column">
                                <span class="text-primary fw-bold fs-normal text-uppercase">send us a message</span>
                                <h2 class="fw-bold"><%- t.pages.contactUs.sectiontwotext %></h2>
                            </div>
                            <form>
                                <div class="d-flex gap-5 flex-column">
                                    <div class="d-flex w-100 gap-5">
                                        <div class="d-flex flex-column w-50">
                                            <label class="fw-semibold small mb-2">
                                                <%- t.pages.contactUs.name %><span class="text-danger">*</span>
                                            </label>
                                            <input type="email" class="bg-fields border-border-fields border p-2 rounded-1"
                                                placeholder="<%- t.pages.contactUs.placeHolderName %>">
                                        </div>
                                        <div class="d-flex flex-column w-50">
                                            <label class="fw-semibold small mb-2">
                                                <%- t.pages.contactUs.address %> <span class="text-danger">*</span>
                                            </label>
                                            <input type="email" class="bg-fields border-border-fields border p-2 rounded-1"
                                                placeholder="<%- t.pages.contactUs.placeHolderddress %>">
                                        </div>
                                    </div>

                                    <div class="d-flex w-100 gap-5">
                                        <div class="d-flex flex-column w-50 rounded-1">
                                            <label class="form-label fw-semibold small mb-2">
                                               <%- t.pages.contactUs.number %>
                                            </label>
                                            <input type="tel" class="bg-fields border-border-fields border p-2 rounded-1"
                                                placeholder="<%- t.pages.contactUs.placeHoldernumber %>">
                                        </div>

                                        <div class="d-flex flex-column w-50">
                                            <label class="form-label fw-semibold small mb-2">
                                                <%- t.pages.contactUs.subject %> <span class="text-danger">*</span>
                                            </label>
                                            <select class="bg-fields border-border-fields border p-2">
                                                <option selected><%- t.pages.contactUs.option1 %> </option>
                                                <option><%- t.pages.contactUs.option2 %> </option>
                                                <option><%- t.pages.contactUs.option3 %> </option>
                                                <option><%- t.pages.contactUs.option4 %> </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-column">
                                        <label class="form-label fw-semibold small mb-2">
                                            <%- t.pages.contactUs.projectType %>
                                        </label>
                                        <select class="bg-fields border-border-fields border p-2">
                                            <option selected><%- t.pages.contactUs.type1 %></option>
                                            <option><%- t.pages.contactUs.type2 %></option>
                                            <option><%- t.pages.contactUs.type3 %></option>
                                            <option><%- t.pages.contactUs.type4 %></option>
                                        </select>
                                    </div>

                                    <div class="d-flex flex-column">
                                        <label class="form-label fw-semibold small mb-2">
                                            <%- t.pages.contactUs.message %> <span class="text-danger">*</span>
                                        </label>
                                        <textarea rows="6" class="bg-fields border-border-fields border p-2 rounded-1"
                                            placeholder="<%- t.pages.contactUs.placeHolderMessage %>"></textarea>
                                    </div>

                                    <div class="col-12 rounded-2 ">
                                        <button type="submit "
                                            class="bg-button fw-semibold border-border-fields border py-2 px-4 rounded-2 btn-hover d-flex align-items-center">
                                           <%- t.pages.contactUs.sendbtn %>
                                            <i class="fa-solid fa-arrow-right ms-2"></i>
                                        </button>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-xl-4">

                        <div class="h-100 d-flex flex-column gap-3">
                           <div class="d-flex flex-column">
                             <span class="text-primary fw-bold fs-normal">
                                <%- t.pages.contactUs.subtitleInformatoin %>
                            </span>
                            <h2 class="fw-bold mb-5">
                                <%- t.pages.contactUs.titleInformation %>
                            </h2>
                           </div>
                             <%- include('../components/contact-details/content.ejs', {ContactDetails: t.components.ContactDetails}); -%>

                            <div class="d-flex flex-column gap-2 mt-4">

                                <h6 class="fw-bold">
                                    <%- t.pages.contactUs.contact %>
                                </h6>

                                <div class="social gap-2 d-flex flex-row align-items-center">

                                    <a href="#" style="width: 30px; height: 30px;"
                                        class="rounded-circle d-flex justify-content-center align-items-center text-decoration-none text-reset border ">
                                        <i class="fab fa-facebook-f "></i>
                                    </a>

                                    <a href="#" style="width: 30px; height: 30px;"
                                        class="rounded-circle d-flex justify-content-center align-items-center text-decoration-none text-reset border">
                                        <i class="fab fa-linkedin-in "></i>
                                    </a>

                                    <a href="#" style="width: 30px; height: 30px;"
                                        class="rounded-circle d-flex justify-content-center align-items-center text-decoration-none text-reset border">
                                        <i class="fab fa-instagram "></i>
                                    </a>

                                    <a href="#" style="width: 30px; height: 30px;"
                                        class="rounded-circle d-flex justify-content-center align-items-center text-decoration-none text-reset border">
                                        <i class="fab fa-youtube "></i>
                                    </a>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
        </section>
        <section class="conainer-flouds">
            <div class="container rounded-1">
                <iframe class="w-100 rounded-1 vh-50"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12951.109024056112!2d51.218427!3d35.7562792!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8de5006a0ba159%3A0x6ef7e9cb611a8298!2sivahid!5e0!3m2!1sen!2s!4v1728657276517!5m2!1sen!2s"
                    width="600" style="border: 0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section class="conainer-flouds">
            <div class="container">
                <%- include('../components/contact-card/content.ejs', {contactCard: t.components.contactCard}); -%>
            </div>
        </section>
    </main>

    <%- include('../components/footer/content.ejs', {accountFeatures: t.components.accountFeatures}); -%>
    
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>