<%- include('../layouts/page/head.ejs' , {title: "gallery", addCount: 0}); -%>

    <main class="d-flex flex-column" id="gallery">

        <section class="hero py-20 text-secondary-text d-flex justify-content-start">
            <div class="container d-flex ">
                <div class="d-flex flex-column gap-4 col-10 col-xxl-5 col-xl-6 col-lg-8 align-items-start">
                    <div class="small ">
                        <a href="#"><%- t.pages.gallery.breadcromp1 %></a>
                        <span class="mx-2">›</span>

                        <a href="#"><%- t.pages.gallery.breadcromp2 %></a>
                        <span class="mx-2">›</span>

                        <span><%- t.pages.gallery.breadcromp3 %></span>
                    </div>
                    <span class="text-primary fw-bold text-uppercase border-secondary border-start px-3 border-3 lh-1">Our Gallery</span>

                    <h1 class="fs-big-title fw-bold">
                       <%- t.pages.gallery.heroTitle1 %> <br>
                        <span class="text-primary"><%- t.pages.gallery.heroTitle2 %></span>
                    </h1>

                    <p class="text-secondary fs-mid-title">
                        <%- t.pages.gallery.heroDescription %>
                    </p>
                </div>
            </div>
        </section>

        <section class="gallery container py-8 d-flex flex-column gap-8 align-items-center d-flex">
             
            <div class="d-flex align-items-center justify-content-between w-100">

                <ul class="gallery-filter d-flex align-items-center fw-semibold fs-small">
                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class=" active" href="#">
                            <%- t.pages.gallery.filter1 %>
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            <%- t.pages.gallery.filter2 %>
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            <%- t.pages.gallery.filter3 %>
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            <%- t.pages.gallery.filter4 %>
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            <%- t.pages.gallery.filter5 %>
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            <%- t.pages.gallery.filter6 %>
                        </a>
                    </li>
                </ul>


                    <select class="form-select sort-select text-lg-end d-flex gap-6 align-items-center border rounded px-4 py-1 fs-small">
                        <option class="">Latest Firs</option>
                        <option class="">Oldest First</option>
                        <option class="">Oldest First</option>
                    </select>


            </div>


            <div class="row align-items-stretch justify-content-center">
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/building.png', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-3 col-xl-3 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/ChatGPT Image Jul 12, 2026, 03_39_32 AM.webp', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/ChatGPT1.png', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-3 col-xl-3 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/ChatGPT4.png', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-3 col-xl-3 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/ChatGPT2.png', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-3 col-xl-3 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/ChatGPT3.png', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-3 col-xl-3 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/ChatGPT4.png', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/ChatGPT6.png', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/news.jpg', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/photo-1486406146926-c627a92ad1ab.jpg', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/projects.jpg', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/building.png', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/ChatGPT1.png', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/ChatGPT4.png', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/ChatGPT2.png', 'images'); %>" alt="">
                </div>
                <div class="p-1 col-6 col-xxl-4 col-xl-4 col-lg-4 col-md-4 flex-grow-1">
                    <img class="w-100 h-100" src="<%= getMedia(lang, 'gallery/ChatGPT3.png', 'images'); %>" alt="">
                </div>
            </div>

            <button class="seeMore d-flex gap-8 px-3 py-2 rounded border fs-small fw-bold align-items-center">
                <span class="text-uppercase"><%- t.pages.gallery.btnLoud %></span>
                <i class="fa-solid fa-arrow-down"></i>
            </button>
        </section>

        <section class="project-cta py-0 text-light">
            <div class="container py-8 px-20">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xxl-row  flex-xl-row gap-4">

                    <div class="d-flex flex-column gap-4">
                        <span class="text-primary"><%- t.pages.gallery.sectionEndsubtitle %></span>

                        <h4 class="fw-bold fs-high-title"><%- t.pages.gallery.sectionEndtitle %></h4>

                        <p class="text-text">
                           <%- t.pages.gallery.sectionEndDescription %>
                        </p>
                    </div>

                    <div class="text-lg-end">
                        <a href="#" class="cta-btn d-flex align-items-center gap-2">
                            <span class=""><%- t.pages.gallery.sectionEnbtn %></span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        

    </main>

    <%- include('../components/footer/content.ejs', {accountFeatures: t.components.accountFeatures}); -%>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>

