<%- include('../layouts/page/head.ejs' , {title: "home-two", addCount: 0}); -%>

    <main class="d-flex flex-column" id="second-demo">

    <section class="hero text-white pb-0 d-flex flex-column w-100 gap-20 overflow-hidden">

        <div class="container d-flex flex-column">
            <div class="d-flex gap-4 justify-content-between align-items-center">

                <div class="d-flex flex-column gap-2">
                    <div class="d-flex align-items-center">
                        <div class="bg-primary me-3 rounded-4" style="width:30px;height:3px;"></div>
                        <span class="text-uppercase text-light"><%- t.pages.homeTwo.heroSubtitle %></span>
                    </div>

                    <h1 class="fw-bold text-uppercase d-flex flex-column fs-mega-title">
                        <%- t.pages.homeTwo.heroTitle1 %>
                        <span class="text-primary"><%- t.pages.homeTwo.heroTitle2 %></span>
                    </h1>

                    <p class="text-secondary my-4 fw-semibold">
                        <%- t.pages.homeTwo.heroDescription %>
                    </p>

                    <div class="d-flex gap-3 mt-4 align-items-center">

                        <a href="#" class="service px-4 py-2 fw-semibold rounded-1 bg-primary text-dark fs-big d-flex justify-content-center align-items-center gap-2 border-primary border">
                            <%- t.pages.homeTwo.btnHero1 %>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>

                        <a href="#" class="view px-4 py-2 fw-semibold rounded-1 fs-big d-flex justify-content-center align-items-center border-primary border gap-2">
                           <%- t.pages.homeTwo.btnHero2 %>
                            <i class="fa-solid fa-arrow-right text-primary"></i>
                        </a>

                    </div>

                </div>


                <div class="justify-content-end d-none d-xxl-flex d-xl-flex d-lg-flex d-md-flex">

                    <div class="bg-dark bg-opacity-75 border border-secondary rounded-3 p-3 d-flex flex-column gap-4"
                        style="width:210px;">

                        <div class="d-flex align-items-center gap-4">
                            <i class="fa-regular fa-user fs-high-title text-primary"></i>
                            <div class="d-flex flex-column">
                                <span class="fw-bold fs-mid-title">25+</span>
                                <span class="text-secondary"><%- t.pages.homeTwo.feature1 %></span>
                            </div>

                        </div>

                        <hr class="bg-secondary m-0">

                        <div class="d-flex align-items-center gap-4">
                            <i class="fa-solid fa-building fs-high-title text-primary"></i>
                            <div class="d-flex flex-column">
                                <span class="fw-bold fs-mid-title">850+</span>
                                <span class="text-secondary"><%- t.pages.homeTwo.feature2 %></span>
                            </div>
                        </div>

                        <hr class="bg-secondary m-0">

                        <div class="d-flex align-items-center gap-4">
                            <i class="fa-regular fa-face-smile fs-high-title text-primary"></i>
                            <div class="d-flex flex-column">
                                <span class="fw-bold fs-mid-title">98%</span>
                                <span class="text-secondary"><%- t.pages.homeTwo.feature3 %></span>
                            </div>
                        </div>

                    </div>

                </div>

            </div> 
        </div>

        <div class="d-flex align-items-center position-relative bg-dark bg-opacity-50 py-10">
            <!-- <div class="wrapper1 d-flex justify-content-between align-items-center w-100 text-secondary w-100 gap-20 px-20 position-absolute">
                <img src="../../assets/media/images/en/demo2/brand1.png" class="w-10" alt="">
                <img src="../../assets/media/images/en/demo2/brand2.png" class="w-10" alt="">
                <img src="../../assets/media/images/en/demo2/brand3.png" class="w-10" alt="">
                <img src="../../assets/media/images/en/demo2/brand4.png" class="w-10" alt="">
                <img src="../../assets/media/images/en/demo2/brand5.png" class="w-10" alt="">
                <img src="../../assets/media/images/en/demo2/brand6.png" class="w-10" alt="">  
            </div>
            <div class="wrapper2 d-flex justify-content-between align-items-center w-100 text-secondary w-100 gap-20 px-20 position-absolute">
                <img src="../../assets/media/images/en/demo2/brand1.png" class="w-10" alt="">
                <img src="../../assets/media/images/en/demo2/brand2.png" class="w-10" alt="">
                <img src="../../assets/media/images/en/demo2/brand3.png" class="w-10" alt="">
                <img src="../../assets/media/images/en/demo2/brand4.png" class="w-10" alt="">
                <img src="../../assets/media/images/en/demo2/brand5.png" class="w-10" alt="">
                <img src="../../assets/media/images/en/demo2/brand6.png" class="w-10" alt="">  
            </div> -->
        </div>

    </section>

    <section class="we-do bg-specific">
        <div class="container d-flex gap-6 w-100 flex-column flex-xxl-row ">

            <div class="d-flex flex-column gap-4 col-10 col-xxl-3 align-items-start">
                <span class="text-primary text-uppercase fw-bold fs-big d-block">
                   <%- t.pages.homeTwo.sectiontwosubtitle %>
                </span>

                <h2 class="fw-bold">
                    <%- t.pages.homeTwo.sectiontwoTitle %>
                </h2>

                <div style="width:60px;height:4px;" class="bg-primary rounded-4"></div>

                <p class="text-secondary text-text">
                    <%- t.pages.homeTwo.sectiontwoDescription %>
                </p>

                <a href="#" class="bg-dark px-4 py-2 rounded-1 fw-semibold d-flex align-items-center gap-4 text-light d-flex justify-content-center fs-big">
                   <%- t.pages.homeTwo.sectiontwobtn %>
                    <i class="fa-solid fa-arrow-right text-primary"></i>
                </a>
            </div>

            <div class="d-flex gap-4 gap-lg-2 flex-column flex-xxl-row flex-xl-row flex-lg-row">
                <%- include('../components/core-services-secondary-card/content.ejs', {coreServicesSecondaryCard: t.components.coreServicesSecondaryCard}); -%>
                <%- include('../components/core-services-secondary-card/content.ejs', {coreServicesSecondaryCard: t.components.coreServicesSecondaryCard}); -%>
                <%- include('../components/core-services-secondary-card/content.ejs', {coreServicesSecondaryCard: t.components.coreServicesSecondaryCard}); -%>
                <%- include('../components/core-services-secondary-card/content.ejs', {coreServicesSecondaryCard: t.components.coreServicesSecondaryCard}); -%>
            </div>
        </div>
    </section>

    <section class="about py-0 ">
            <div class="row bg-dark flex-column flex-xxl-row flex-xl-row flex-lg-row flex-md-row ps-0 ps-xxl-20 ps-xl-20 ps-lg-20 ps-md-10">

                <div class=" text-secondary py-8 bg-dark col-12 col-xxl-5 col-xl-5 col-lg-5 col-md-5 ">
                    <div class=" d-flex flex-column gap-3 align-items-start">

                        <span class="text-uppercase text-secondary fs-big"><%- t.pages.homeTwo.sectiontreeSubtitle %></span>

                        <h2 class="fw-bold ">
                           <%- t.pages.homeTwo.sectiiontreeTitle %>
                        </h2>
                        <div style="width:60px;height:4px;" class="bg-primary rounded-4"></div>

                        <p class="text-text">
                           <%- t.pages.homeTwo.sectiontreedescription %>
                        </p>

                        <div class="row g-4 my-1">

                            <div class="col-6 col-xxl-3 col-xl-3 text-center d-flex flex-column gap-3 border-end ">
                                <i class="fa-solid fa-shield-halved text-primary"></i>
                                <p class="fw-semibold fs-big px-3">
                                  <%- t.pages.homeTwo.sectiontreefeature1 %>
                                </p>
                            </div>

                            <div class="col-6 col-xxl-3 col-xl-3 text-center d-flex flex-column gap-3 border-end ">
                                <i class="fa-solid fa-seedling text-primary"></i>
                                <p class="fw-semibold fs-big px-3">
                                   <%- t.pages.homeTwo.sectiontreefeature2 %>
                                </p>
                            </div>

                            <div class="col-6 col-xxl-3 col-xl-3 text-center d-flex flex-column gap-3 border-end ">
                                <i class="fa-solid fa-helmet-safety text-primary"></i>
                                <p class="fw-semibold fs-big px-3">
                                    <%- t.pages.homeTwo.sectiontreefeature3 %>
                                </p>
                            </div>

                            <div class="col-6 col-xxl-3 col-xl-3 text-center d-flex flex-column gap-3 ">
                                <i class="fa-regular fa-clock text-primary"></i>
                                <p class="fw-semibold fs-big px-3">
                                   <%- t.pages.homeTwo.sectiontreefeature4 %>
                                </p>
                            </div>

                        </div>

                        <a href="#" class="mt-2 button px-4 py-2 fw-semibold rounded-1 bg-primary text-dark fs-big d-flex justify-content-center align-items-center gap-2 border-primary border">
                            <%- t.pages.homeTwo.sectiontreebtn %>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>

                    </div>
                </div>

                <div class=" d-flex flex-column col-12 col-xxl-7 col-xl-7 col-lg-7 col-md-7">

                    <div class="contain-img position-relative h-100 w-100 p-20"></div>

                    <div class="text-light d-flex bg-specific p-4">
                        
                        <div class="col-3 d-flex line justify-content-center gap-6">
                            <img src="<%= getMedia(lang, 'components/cycle-icon1.png', 'images'); %>" width="30">
                            <div  class="d-flex flex-column gap-2">
                                <span class="fw-bold text-muted">850+</span>
                                <span class="text-muted"><%- t.pages.homeTwo.sectiontreeText1 %></span>
                            </div>
                        </div>
                        
                        <div class="col-3 d-flex line justify-content-center gap-6">
                            <img src="<%= getMedia(lang, 'components/cycle-icon2.png', 'images'); %>" width="30">
                            <div  class="d-flex flex-column gap-2">
                                <span class="fw-bold text-muted">120+</span>
                                <span class="text-muted"><%- t.pages.homeTwo.sectiontreeText2 %></span>
                            </div>
                        </div>
                        
                        <div class="col-3 d-flex line justify-content-center gap-6">
                            <img src="<%= getMedia(lang, 'components/cycle-icon3.png', 'images'); %>" width="30">
                            <div  class="d-flex flex-column gap-2">
                                <span class="fw-bold text-muted">25+</span>
                                <span class="text-muted"><%- t.pages.homeTwo.sectiontreeText3 %></span>
                            </div>
                        </div>

                        <div class="col-3 d-flex line justify-content-center gap-6">
                            <img src="<%= getMedia(lang, 'components/cycle-icon4.png', 'images'); %>" width="30">
                            <div  class="d-flex flex-column gap-2">
                                <span class="fw-bold text-muted">98%</span>
                                <span class="text-muted"><%- t.pages.homeTwo.sectiontreeText4 %></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </section>


    <section class="projects py-8">
        <div class="container d-flex flex-column gap-4">
            <div class="d-flex flex-column gap-4 col-10">
                <span class="text-uppercase fw-semibold fs-subtitle"><%- t.pages.homeTwo.sectionfourSubtitle %></span>

                <h2 class="fw-bold"><%- t.pages.homeTwo.sectionfourTitle %></h2>

                <div style="width:60px;height:4px;" class="bg-primary rounded-4"></div>
            </div>
            <div class="d-flex flex-wrap">
                <div class="col-12 col-xxl-3 col-xl-3 col-lg-6 col-md-6 p-2">
                    <%- include('../components/secondary-project-card2/content.ejs', {projectCard: t.components.projectCard}); -%>
                </div>
                <div class="col-12 col-xxl-3 col-xl-3 col-lg-6 col-md-6 p-2">
                    <%- include('../components/secondary-project-card2/content.ejs', {projectCard: t.components.projectCard}); -%>
                </div>
                <div class="col-12 col-xxl-3 col-xl-3 col-lg-6 col-md-6 p-2">
                    <%- include('../components/secondary-project-card2/content.ejs', {projectCard: t.components.projectCard}); -%>
                </div>
                <div class="col-12 col-xxl-3 col-xl-3 col-lg-6 col-md-6 p-2">
                    <%- include('../components/secondary-project-card2/content.ejs', {projectCard: t.components.projectCard}); -%>
                </div>
                
            </div>
        </div>
    </section>

    <section class="values bg-dark">
        <div class="container ">
            <div class=" d-flex gap-10 flex-column flex-xxl-row flex-xl-row ">

                <div class="d-flex flex-column gap-4 col-12 col-xxl-4 col-xl-4">
                    <span class="text-uppercase fs-big fw-semibold text-text"><%- t.pages.homeTwo.sectionfiveSubtitle %></span>

                    <h2 class="fw-bold text-secondary">
                      <%- t.pages.homeTwo.sectionfiveTitle %>
                    </h2>

                    <div style="width:60px;height:4px;" class="bg-primary rounded-4"></div>
                    <p class="fs-title text-light text-text">
                        <%- t.pages.homeTwo.sectionfiveDescription %>
                    </p>
                </div>

                <div class="col-12 col-xxl-8 col-xl-8">
                    <%- include('../components/team-feature/content.ejs' , {teamFeature: t.components.teamFeature}); -%>
                </div>

            </div>
    </section>

    <section class="comments py-8 bg-specific">
        <div class="container d-flex gap-10 w-100 flex-column flex-xxl-row flex-xl-row flex-lg-row">
            <div class="d-flex flex-column gap-4 col-10 col-xxl-3 col-xl-4 col-lg-4">
                <span class="text-uppercase fw-semibold fs-subtitle"><%- t.pages.homeTwo.sectionsixsubtitle %></span>

                <h2 class="fw-bold"><%- t.pages.homeTwo.sectionsixtitle %></h2>

                <div style="width:60px;height:4px;" class="bg-primary rounded-4"></div>

            </div>
            <div class="d-flex gap-4 gap-lg-2 flex-column flex-xxl-row flex-xl-row flex-lg-row">
                <%- include('../components/comment/content.ejs'); -%>
                <%- include('../components/comment/content.ejs'); -%>
                <%- include('../components/comment/content.ejs'); -%>
            </div>
        </div>
    </section>


    <section class="fast-contact py-4 d-flex bg-primary align-items-center justify-content-center">
        <div class="container d-flex justify-content-between flex-column flex-xxl-row flex-xl-row flex-lg-row flex-md-row gap-4 align-items-center">

            <div class="d-flex align-items-center gap-6">

                <i class="fa-solid fa-headset fs-high-title"></i>

                <div class="vr"></div>

                <div class="d-flex flex-column">
                    <h4 class="fw-bold fs-mid-title"> <%- t.pages.homeTwo.question %></h4>

                    <span class="fw-bold fs-title"> <%- t.pages.homeTwo.answer %></span>
                </div>

            </div>

            <a href="#" class="px-6 py-3 fw-semibold text-uppercase fs-big bg-dark rounded text-secondary d-flex justify-content-center align-items-center gap-4 btn-hover">
               <%- t.pages.homeTwo.btnquestion %>
                <i class="fa-solid fa-arrow-right text-primary"></i>
            </a>


        </div>
    </section>

    </main>

    <%- include('../components/footer/content.ejs', {accountFeatures: t.components.accountFeatures}); -%>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>