<%- include('../layouts/page/head.ejs' , {title: "home-one", addCount: 0}); -%>

    <main class="d-flex flex-column" id="home-one">

        <section class="hero py-20 pt-20 text-secondary-text position-relative d-flex flex-column justify-content-center">
           <div class="d-flex justify-content-between">
            <div class="container">
                <div class="align-items-start col-lg-5 d-flex flex-column gap-8 ">

                    <span class="text-warning fs-title"><%- t.pages.homeOne.subtitleslider %></span>

                    <h1 class="fw-bold fs-mega-title d-flex flex-column">
                        <span class="text-white"><%- t.pages.homeOne.sliderTitle1 %></span>
                        
                        <span class="text-white"><%- t.pages.homeOne.sliderTitle2 %></span>
                        
                        <span class="text-warning"><%- t.pages.homeOne.sliderTitle3 %></span>
                    </h1>

                    <p class="fw-medium fs-title text-white">
                    <%- t.pages.homeOne.sliderDescription %>
                    </p>

                   <div class="d-flex gap-3">
                        <a class="rounded-1 bg-button btn-hover px-5 py-2 text-button-text mt-2 d-flex gap-6 align-items-center fw-semibold">
                            <span class="" ><%- t.pages.homeOne.btnslider1 %></span>
                            <i class="fa-solid fa-arrow-right text-dark"></i>
                        </a>
                        <a class="rounded-1 border px-5 py-2 text-button-text mt-2 d-flex gap-6 align-items-center fw-semibold">
                            <span class="" ><%- t.pages.homeOne.btnslider2 %></span>                        </a>
                   </div>

                </div>
            </div>
            <div class="position-absolute top-50 end-0 translate-middle-y me-5">
                <div class="bg-dark bg-opacity-75 text-white rounded-1 shadow p-5 card-play d-flex flex-column gap-10">

                    <h2 class="fw-bold">
                        Let's build
                        <span class="text-warning d-block">together</span>
                    </h2>

                    <p class="text-light ">
                        Trusted by 1500+ clients to bring their vision to life.
                    </p>

                    <div class="d-flex align-items-center">

                        <a href="#" class="rounded-circle d-flex align-items-center border-play justify-content-center">
                            <i class="fa-solid fa-light fa-play  text-primary"></i>
                        </a>

                        <span class="ms-3 fw-semibold">
                            WATCH VIDEO
                        </span>

                    </div>

                </div>
            </div>
            
           </div>
            <div class="position-absolute w-100 bottom-0 statistics-hero">
                <%- include('../components/statistics/content.ejs', {statistics: t.components.statistics}); -%>
            </div>
        </section>
        <section class="about-section py-5 ">
            <div class="container">
                <div class="row align-items-center gy-5">
                    <div class="col-lg-5 d-flex flex-column gap-4 align-items-start">
                        <span class="section-title text-primary">
                            WHO WE ARE
                        </span>
                        <h2 class="fw-bold mt-3">
                            Building More Than
                            Structures, We Build
                            Lasting Relationships
                        </h2>
                        <p class="about-text mt-4">
                            We are a leading construction company delivering
                            innovative and sustainable solutions across
                            residential, commercial and industrial sectors.
                        </p>

                        <img src="images/signature.png" class="signature img-fluid" alt="signature">

                        <a class="rounded-1 btn-hover bg-button px-5 py-2 text-button-text mt-2 d-flex gap-6 align-items-center fw-semibold">
                            <span class="" >MORE ABOUT US</span>
                            <i class="fa-solid fa-arrow-right text-dark"></i>
                        </a>
                    </div>
                    <div class="col-lg-7">
                        <div class="image-wrapper w-100 position-relative">
                            <div class="dots position-absolute"></div>
                            <div class="bg-box"></div>

                            <img  src="images/building.jpg" class="building-img img-fluid position-absolute" alt="">

                            <div class="mission-card position-absolute gap-4 d-flex flex-column">
                                <h2>Our Mission</h2>
                                <div class="yellow-line bg-primary"></div>
                                <p>
                                    To provide high-quality construction
                                    services that exceed client expectations
                                    while maintaining the highest standards
                                    of safety and integrity.
                                </p>
                                <div class="mission-footer d-flex justify-content-center align-items-center btn-hover">
                                    <button>
                                        <i class="fa fa-arrow-right text-primary"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-20 bg-background">
           <div class="container">
             <div class="d-flex flex-column gap-3">
                <p class="text-warning fs-title">WHAT WE DO</p>
                <h2 class="fs-mid-title fw-bold">Our Core Services</h2>
                <div class="d-flex gap-3">
                    <%- include('../components/core-services-card/content.ejs', {coreServicesCard: t.components.coreServicesCard}); -%>
                    <%- include('../components/core-services-card/content.ejs', {coreServicesCard: t.components.coreServicesCard}); -%>
                    <%- include('../components/core-services-card/content.ejs', {coreServicesCard: t.components.coreServicesCard}); -%>
                    <%- include('../components/core-services-card/content.ejs', {coreServicesCard: t.components.coreServicesCard}); -%>
                    <%- include('../components/core-services-card/content.ejs', {coreServicesCard: t.components.coreServicesCard}); -%>
                    <%- include('../components/core-services-card/content.ejs', {coreServicesCard: t.components.coreServicesCard}); -%>
                </div>
            </div>
           </div>
        </section>

    </main>

    <%- include('../components/footer/content.ejs', {accountFeatures: t.components.accountFeatures}); -%>

    
    <script src="./assets/js/mizchin.min.js"></script>
 
</body>


</html>