<%- include('../layouts/page/head.ejs' , {title: "home-one", addCount: 0}); -%>

     <main class="d-flex flex-column" id="home-one">

        <section id="main-hero" class="container-fluid py-20 pt-20 text-secondary-text position-relative d-flex flex-column justify-content-center">
            <div class="container d-flex justify-content-between">
                <div class="row gy-5 align-items-center w-100">
                    <div class="col-lg-6">

                        <span class="text-warning fs-title">
                           <%- t.pages.homeOne.subtitleslider %>
                        </span>

                        <h1 class="fw-bold fs-mega-title mb-4">
                            <span class="d-block text-white"><%- t.pages.homeOne.sliderTitle1 %></span>
                            <span class="d-block text-white"><%- t.pages.homeOne.sliderTitle2 %></span>
                            <span class="d-block text-warning"><%- t.pages.homeOne.sliderTitle3 %></span>
                        </h1>

                        <p class="fw-medium fs-title text-white mb-4">
                           <%- t.pages.homeOne.sliderDescription %>
                        </p>

                        <div
                            class="d-flex flex-column flex-sm-row gap-3 justify-content-start">

                            <a href="#"
                                class="rounded-1 bg-button btn-hover px-5 py-3 text-button-text d-flex align-items-center justify-content-center gap-2 fw-semibold">

                                <span><%- t.pages.homeOne.btnslider1 %></span>
                                <i class="fa-solid fa-arrow-right text-dark"></i>

                            </a>

                            <a href="#"
                                class="rounded-1 border border-white px-5 py-3 text-white d-flex align-items-center justify-content-center fw-semibold">

                                <%- t.pages.homeOne.btnslider2 %>

                            </a>

                        </div>

                    </div>
                    <div class="col-lg-6 d-flex justify-content-center justify-content-xl-end">
                        <div class="bg-dark bg-opacity-75 text-white rounded-2 shadow p-4 p-lg-5 card-play d-flex flex-column gap-4">

                            <h2 class="fw-bold mb-0">
                               <%- t.pages.homeOne.cardvideotitle1 %>
                                <span class="text-warning d-block">
                                     <%- t.pages.homeOne.cardvideotitle2 %>
                                </span>
                            </h2>

                            <p class="text-light mb-0">
                                <%- t.pages.homeOne.cardvideoDescription %>
                            </p>

                            <div class="d-flex align-items-center">

                                <a href="#"
                                    class="rounded-circle border-play d-flex align-items-center justify-content-center">

                                    <i class="fa-solid fa-play text-primary"></i>

                                </a>

                                <span class="ms-3 fw-semibold">
                                   <%- t.pages.homeOne.cardvideobtn %>
                                </span>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

            </div>
            <div class="position-absolute w-100 bottom-0 statistics-hero">
                 <%- include('../components/statistics/content.ejs', {statistics: t.components.statistics}); -%>
            </div> 
           
        </section>
        <section class="container-fluid">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 d-flex flex-column gap-2 align-items-start">
                        <span class="section-title text-primary">
                            <%- t.pages.homeOne.sectiontwosubtitle %>
                        </span>
                        <h2 class="fw-bold mt-3">
                            <%- t.pages.homeOne.sectiontwoTitle %>
                        </h2>
                        <p class="about-text mt-4">
                           <%- t.pages.homeOne.sectiontwoDescription %>
                        </p>

                     <img src="./assets/media/images/en/single/signature.png" class="signature" alt="signature">

                        <a class="rounded-1 btn-hover bg-button px-5 py-2 text-button-text d-flex gap-6 align-items-center fw-semibold">
                            <span class=""><%- t.pages.homeOne.sectionEnbtn %></span>
                            <i class="fa-solid fa-arrow-right text-dark"></i>
                        </a>
                    </div>
                    <div class="col-lg-7">
                        <div class="image-wrapper w-100 position-relative">
                            <div class="dots position-absolute"></div>
                            <div class="bg-box"></div>

                          <div class="d-flex flex-column gap-3">
                              <img src="<%= getMedia(lang, 'single/build2.png', 'images'); %>" class="building-img img-fluid position-absolute" alt="">

                            <div class="mission-card position-absolute bg-dark gap-4 d-flex flex-column align-items-start">
                                <h2><%- t.pages.homeOne.misson %></h2>
                                <div class="yellow-line bg-primary"></div>
                                <p>
                                    <%- t.pages.homeOne.descriptionMisson %>
                                </p>
                                <a href="#" class="mission-btn transition d-flex justify-content-center align-items-center border border-primary p-3">
                                    <i class="fa-solid fa-arrow-right text-primary transition"></i>
                                <div></div></a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid">
            <div class="container d-flex flex-column gap-5">
                <div class="d-flex flex-column">
                    <p class="text-warning fs-title"><%- t.pages.homeOne.sectiontreeSubtitle %></p>
                    <h2 class="fs-mid-title fw-bold"><%- t.pages.homeOne.sectiontreetitle %></h2>
                </div>
                <div class="row g-4">
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                        <%- include('../components/core-services-card/content.ejs', {coreServicesCard: t.components.coreServicesCard}); -%>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                         <%- include('../components/core-services-card/content.ejs', {coreServicesCard: t.components.coreServicesCard}); -%>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                        <%- include('../components/core-services-card/content.ejs', {coreServicesCard: t.components.coreServicesCard}); -%>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                       <%- include('../components/core-services-card/content.ejs', {coreServicesCard: t.components.coreServicesCard}); -%>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                        <%- include('../components/core-services-card/content.ejs', {coreServicesCard: t.components.coreServicesCard}); -%>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                        <%- include('../components/core-services-card/content.ejs', {coreServicesCard: t.components.coreServicesCard}); -%>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid bg-dark py-5">
            <div class="container">
                <div class="row align-items-center g-4">
                    <div class="col-lg-4 gy-2">
                        <div class="d-flex flex-column gap-5 align-items-start">
                            <span class="text-warning fs-title"> <%- t.pages.homeOne.sectionfouresubtitle %></span>
                            <h2 class="fs-high-title fw-bold text-white">  <%- t.pages.homeOne.sectionfouretitle1 %> <br>
                               <%- t.pages.homeOne.sectionfouretitle2 %></h2>
                            <a href="" class="text-white border border-primary p-3">
                               <%- t.pages.homeOne.sectionfourebtn %>
                                <i class="fa-solid fa-arrow-right text-primary ps-2"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <ul class="d-flex gap-5 mb-7 justify-content-xl-end justify-content-start flex-wrap ">
                            <li>
                                <a class="text-white bg-primary rounded-1 py-2 px-4" href="#"><%- t.pages.homeOne.sectionfourefilter1 %></a>
                            </li>
                            <li>
                                <a class="text-white" href="#"><%- t.pages.homeOne.sectionfourefilter2 %></a>
                            </li>
                            <li>
                                <a class="text-white" href="#"><%- t.pages.homeOne.sectionfourefilter3 %></a>
                            </li>
                            <li>
                                <a class="text-white" href="#"><%- t.pages.homeOne.sectionfourefilter4 %></a>
                            </li>
                            <li>
                                <a class="text-white" href="#"><%- t.pages.homeOne.sectionfourefilter5 %></a>
                            </li>

                        </ul>
                        <div class="row g-3">
                            <div class="col-md-6 col-xl-3">
                                 <%- include('../components/secondary-project-card2/content.ejs', {projectCard: t.components.projectCard}); -%>   
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <%- include('../components/secondary-project-card2/content.ejs', {projectCard: t.components.projectCard}); -%>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <%- include('../components/secondary-project-card2/content.ejs', {projectCard: t.components.projectCard}); -%>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <%- include('../components/secondary-project-card2/content.ejs', {projectCard: t.components.projectCard}); -%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid">
            <div class="container">
                <div class="row gx-xl-5 gy-5">
                    <div class="col-lg-6 col-xl-4">
                        <%- include('../components/stats-counter/column/content.ejs', {statsCounter: t.components.statsCounter}); -%>

                    </div>
                    <div class="col-lg-6 col-xl-8">
                        <div class="image-box position-relative h-100">
                            <img src="<%= getMedia(lang, 'single/homepage-section2.jpg', 'images'); %>"
                                class="w-100 h-100 object-fit-cover rounded-2" alt="">
                            <span
                                class=" z-2 text-uppercase position-absolute p-4 text-white fw-bold fs-title bottom-0 start-50 mb-0 mb-sm-10">
                                <%- t.pages.homeOne.sectionfiveText1 %><br> <%- t.pages.homeOne.sectionfiveText2 %>
                            </span>
                            <a href="#"
                                class="z-2 play-btn d-flex align-items-center justify-content-center position-absolute top-50 start-50 translate-middle bg-primary rounded-circle">
                                <i class="fa-solid fa-play"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid">
            <div class="container">
                <div class="row gy-5 align-items-center">
                    <div class="col-lg-6 col-xl-3">

                        <div class="h-100 d-flex flex-column justify-content-center">

                            <p class="text-warning fs-title mb-2">
                                <%- t.pages.homeOne.sectionsixsubtitle %>
                            </p>
                            <h2 class="fs-mid-title fw-bold mb-3">
                                <%- t.pages.homeOne.sectionsixtitle %>
                            </h2>
                            <p class="text-text mb-0">
                               <%- t.pages.homeOne.sectionsixdescription %>
                            </p>

                        </div>

                    </div>
                    <div class="col-lg-6 col-xl-9">
                        <%- include('../components/cycle-cards/content.ejs', {cycleCards: t.components.cycleCards}); -%>
                    </div>

                </div>
            </div>
        </section>
        <section class="container-fluid">
            <div class="container d-flex flex-column gap-5">
                <div class="d-flex flex-column">
                    <p class="text-warning fs-title"><%- t.pages.homeOne.sectionsevensubtitle %></p>
                    <h2 class="fs-mid-title fw-bold"><%- t.pages.homeOne.sectionseventitile %></h2>
                </div>
                <div class="row g-4">
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                       <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                       <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                       <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                </div>
            </div>
        </section>
        <section id="testimonials" class="py-8 bg-dark">
            <div class="container d-flex gap-10 w-100 flex-column flex-xxl-row flex-xl-row flex-lg-row">
                <div class="d-flex flex-column gap-2 col-10 col-xxl-3 col-xl-4 col-lg-4">
                    <p class="text-warning fs-title text-white"><%- t.pages.homeOne.sectioneightsubtitle %></p>
                    <h2 class="fs-mid-title fw-bold text-white"><%- t.pages.homeOne.sectioneighttitle %></h2>
                    <div style="width:60px;height:4px;" class="bg-primary rounded-4"></div>
                    <div class="d-flex gap-3 pt-7">
                        <button class="slider-btn rounded-circle border border-primary">
                            <i class="fa-solid fa-arrow-left text-primary"></i>
                        </button>
                        <button class="slider-btn rounded-circle border border-primary">
                            <i class="fa-solid fa-arrow-right text-primary"></i>
                        </button>
                    </div>
                </div>
                <div class="d-flex gap-4 gap-lg-2 flex-column flex-xxl-row flex-xl-row flex-lg-row">
                    <%- include('../components/comment/content.ejs', {comment: t.components.comment}); -%>
                    <%- include('../components/comment/content.ejs', {comment: t.components.comment}); -%>
                    <%- include('../components/comment/content.ejs', {comment: t.components.comment}); -%>
                </div>
            </div>
        </section>
        <section id="latest-news" class="container-fluid py-5">
            <div class="container">

                <div class="row g-4">
                    <div class="col-12 col-lg-2">
                        <div class="h-100 d-flex flex-column justify-content-center">
                            <p class="text-warning fs-title mb-2">
                                <%- t.pages.homeOne.sectiontensubtitle %>
                            </p>
                            <h2 class="fs-mid-title fw-bold mb-3">
                                <%- t.pages.homeOne.sectiontentitle %>
                            </h2>
                            <p class="text-text mb-0">
                                <%- t.pages.homeOne.sectiontendescription %>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="row g-4">
                            <div class="col-12 col-md-4">
                                <%- include('../components/latest-news/content.ejs', {latestNews: t.components.latestNews}); -%>
                            </div>

                            <div class="col-12 col-md-4">
                                 <%- include('../components/latest-news/content.ejs', {latestNews: t.components.latestNews}); -%>
                            </div>

                            <div class="col-12 col-md-4">
                                 <%- include('../components/latest-news/content.ejs', {latestNews: t.components.latestNews}); -%>
                            </div>

                        </div>

                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="d-flex flex-column justify-content-between h-100 shadow bg-white p-3 gap-5">
                            <h4 class="fw-bold fs-mid-title text-title-text">
                                 <%- t.pages.homeOne.sectionsubscribe %>
                            </h4>
                            <p class="text-text text-title">
                               <%- t.pages.homeOne.subscribeDescription %>
                            </p>
                            <form class="d-flex flex-column gap-2">
                                <div class="d-flex justify-content-between w-100 gap-2">
                                    <input type="text" placeholder=" <%- t.pages.homeOne.subscribeplaceholder %>"
                                        class="fs-subtitle w-100 border rounded-1 px-3 py-2 fw-medium">
                                    <button type="submit"
                                        class="bg-primary text-black d-flex align-items-center gap-4 rounded-1 justify-content-center py-2"
                                        href="#">
                                        <i class="fas fa-arrow-right-long fs-small px-4"></i>
                                    </button>
                                </div>
                                <div class="d-flex flex-column">
                                    <input type="radio" id="policy">
                                    <label for="policy">
                                        <%- t.pages.homeOne.subscribelabel %>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="our-clients" class="container-fluid py-10">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-lg-6">
                        <span class="text-warning fw-semibold fs-title">
                            <%- t.pages.homeOne.sectionelevensubtitle %>
                        </span>
                        <h2 class="fs-mid-title fw-bold mb-0">
                            <%- t.pages.homeOne.sectioneleventitile %>
                        </h2>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center gy-5">
                    <div class="col-6 col-md-4 col-lg-2 text-center">
                        <img src="<%= getMedia(lang, 'homepage/logo1.jpg', 'images'); %>" class="img-fluid client-logo" alt="">
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center">
                        <img src="<%= getMedia(lang, 'homepage/logo2.jpg', 'images'); %>" class="img-fluid client-logo" alt="">
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center">
                        <img src="<%= getMedia(lang, 'homepage/logo3.jpg', 'images'); %>" class="img-fluid client-logo" alt="">
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center">
                        <img src="<%= getMedia(lang, 'homepage/logo4.jpg', 'images'); %>" class="img-fluid client-logo" alt="">
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center">
                        <img src="<%= getMedia(lang, 'homepage/logo5.jpg', 'images'); %>" class="img-fluid client-logo" alt="">
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 text-center">
                        <img src="<%= getMedia(lang, 'homepage/logo6.jpg', 'images'); %>" class="img-fluid client-logo" alt="">
                    </div>

                </div>

            </div>
        </section>
        <section id="cta" class="container-fluid bg-dark">
            <div class="container">
                <div class="row">
                    <%- include('../components/quote-card/content.ejs', {quoteCode: t.components.quoteCode}); -%>
                </div>
            </div>
        </section>
    </main>

    <%- include('../components/footer/content.ejs', {accountFeatures: t.components.accountFeatures}); -%>
   
    <script src="./assets/js/mizchin.min.js"></script>
 
</body>


</html>