<%- include("../layouts/page/head.ejs", {title: "offers"}); %>

<div style="display: flex; gap: 0.5rem;">
    <%- include("../components/item/content.ejs", {textContent: "hossein", imageSrc: getMedia(null, "singles/logo.png", "images"), link: navigation(lang, './offers.html')}) %>
    <%- include("../components/item/content.ejs", {textContent: "ali", imageSrc: getMedia(null, "singles/.png", "images"), link: navigation(lang, './index.html')}) %>
    <%- include("../components/item/content.ejs", {textContent: "hesam", imageSrc: getMedia(null, "singles/logo.png", "images"), link: navigation(lang, './offers.html')}) %>
    <%- include("../components/item/content.ejs", {textContent: "sajjad", imageSrc: getMedia(null, "singles/.png", "images"), link: navigation(lang, './index.html')}) %>
</div>

<%- include("../layouts/page/foot.ejs"); %>