<%- include('../layouts/page/head.ejs' , {title: "Reviews", addCount: 0}); -%>

    <main class="d-flex flex-column" id="Reviews">

        <section class="hero py-20 text-secondary-text d-flex justify-content-start">
            <div class="container d-flex ">
                <div class="d-flex flex-column gap-4 col-10 col-xxl-5 col-xl-6 col-lg-8 align-items-start">
                    <div class="small ">
                        <a href="#"><%- t.pages.Reviews.breadcromp1 %></a>
                        <span class="mx-2">›</span>

                        <a href="#"><%- t.pages.Reviews.breadcromp2 %></a>
                        <span class="mx-2">›</span>

                        <span><%- t.pages.Reviews.breadcromp3 %></span>
                    </div>
                    <span class="text-primary fw-bold text-uppercase border-secondary border-start px-3 border-3 lh-1">Our Gallery</span>

                    <h1 class="fs-big-title fw-bold">
                       <%- t.pages.Reviews.heroTitle1 %> <br>
                        <span class="text-primary"><%- t.pages.Reviews.heroTitle2 %></span>
                    </h1>

                    <p class="text-secondary fs-mid-title">
                        <%- t.pages.Reviews.heroDescription %>
                    </p>
                </div>
            </div>
        </section>

        <section class="reviews container py-8 d-flex flex-column gap-8 align-items-center d-flex">
             
            <div class="d-flex align-items-center justify-content-between w-100">

                <ul class="reviews-filter d-flex align-items-center fw-semibold fs-small">
                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class=" active" href="#">
                            <%- t.pages.Reviews.filter1 %>
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            <%- t.pages.Reviews.filter2 %>
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            <%- t.pages.Reviews.filter3 %>
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            <%- t.pages.Reviews.filter4 %>
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            <%- t.pages.Reviews.filter5 %>
                        </a>
                    </li>

                    <li class="px-1 px-xxl-5 px-xl-5 px-lg-5 px-md-5 px-sm-2 py-2 d-flex align-items-center">
                        <a class="" href="#">
                            <%- t.pages.Reviews.filter6 %>
                        </a>
                    </li>
                </ul>

                <div class="text-lg-end d-flex gap-6 align-items-center border rounded px-4 py-1 fs-small">
                    <select class="form-select sort-select">
                        <option><%- t.pages.Reviews.option1 %></option>
                        <option><%- t.pages.Reviews.option2 %></option>
                    </select>
                    <i class="fa-solid fa-angle-down"></i>
                </div>

            </div>


            <div class="row align-items-stretch justify-content-center">
                <div class="col-4">
                    <%- include('../components/reviews-card/content.ejs', {reviewsCart: t.components.reviewsCart}); -%>
                </div>
                <div class="col-4">
                    <%- include('../components/reviews-card/content.ejs', {reviewsCart: t.components.reviewsCart}); -%>
                </div>
                <div class="col-4">
                    <%- include('../components/reviews-card/content.ejs', {reviewsCart: t.components.reviewsCart}); -%>
                </div>
                <div class="col-4">
                    <%- include('../components/reviews-card/content.ejs', {reviewsCart: t.components.reviewsCart}); -%>
                </div>
                <div class="col-4">
                    <%- include('../components/reviews-card/content.ejs', {reviewsCart: t.components.reviewsCart}); -%>
                </div>
            </div> 

            <button class="seeMore d-flex gap-8 px-3 py-2 rounded border fs-small fw-bold align-items-center">
                <span class="text-uppercase"><%- t.pages.Reviews.btnLoud %></span>
                <i class="fa-solid fa-arrow-down"></i>
            </button> 
        </section>
 
        <section class="project-cta py-0 text-light">
            <div class="container py-8 px-20">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xxl-row  flex-xl-row gap-4">

                    <div class="d-flex flex-column gap-4">
                        <span class="text-primary"><%- t.pages.Reviews.sectionEndsubtitle %></span>

                        <h4 class="fw-bold fs-high-title"><%- t.pages.Reviews.sectionEndtitle %></h4>

                        <p class="text-text">
                           <%- t.pages.Reviews.sectionEndDescription %>
                        </p>
                    </div>

                    <div class="text-lg-end">
                        <a href="#" class="cta-btn d-flex align-items-center gap-2">
                            <span class=""><%- t.pages.Reviews.sectionEnbtn %></span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        

    </main>

    <%- include('../components/footer/content.ejs', {accountFeatures: t.components.accountFeatures}); -%>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>

