<!DOCTYPE html>
<html dir="<%= t.direction %>" lang="<%= t.language %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pages</title>
    <link rel="icon" type="image/png" href="<%= getMedia(lang, 'single/logo-web3.webp', 'images') %>">
    <base href="<%= basePathPages() %>">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/components.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-primary">

    <main class="d-flex flex-column bg-background " id="st-services">

        <section class="hero bg-dark text-secondary position-relative py-8 position-relative">

            <div class="container py-4 d-flex flex-column gap-6">

                <div class="small ">
                    <a href="#" class="text-decoration-none text-secondary">Home</a>

                    <span class="text-secondary">></span>

                    <a href="#" class="text-decoration-none text-secondary">Services</a>

                    <span class="text-secondary">></span>

                    <span class="text-secondary">Construction Management</span>
                </div>

                <div class="row col-11 col-xxl-5 col-xl-7 col-lg-10 col-md-10 ">

                    <div class=" d-flex flex-column gap-5">

                        <span class="text-primary fw-bold text-uppercase">Our Service</span>

                        <h1 class="fs-big-title fw-bold">

                            Construction
                            <span class="text-primary">Management</span>
                        </h1>

                        <div class="bg-primary" style="width:60px;height:3px;"></div>

                        <p class="text-secondary lh-lg fs-mid-title">
                            We oversee every phase of construction to ensure your
                            project is delivered on time, on budget,
                            and to the highest quality standards.
                        </p>

                    </div>

                </div>

            </div>

        </section>


        <div class="container justify-content-center d-flex gap-10 flex-column flex-xxl-row flex-xl-row flex-lg-row flex-md-row">

            <div class="col-11 col-xxl-9 col-xl-9 col-lg-8 col-md-7 align-self-center">
                <section class="overview py-8 d-flex flex-column gap-4">
                    <img src="../../assets/media/images/en/services/ChatGPT Image Jul 12, 2026, 03_39_32 AM.png" class="img-fluid rounded-3 shadow-sm" alt="">
                    
                    <h2 class="fw-bold">Overview</h2>

                    <p class="text-dark lh-lg">

                        Our construction management services provide
                        comprehensive oversight of your project from planning to
                        completion. We coordinate all aspects of construction,
                        including budgeting, scheduling, resource allocation,
                        and quality control, to ensure seamless execution and
                        successful outcomes.

                    </p>

                    <p class="text-dark lh-lg">

                        With a focus on safety, efficiency, and transparent
                        communication, we act as your trusted partner every step
                        of the way.

                    </p>

                </section>
                <hr>
                <section class="offer py-8 d-flex flex-column gap-4">
                    <h2 class="fw-bold">What We Offer</h2>

                    <div class="row ">

                        <div class="col-12 col-xxl-6 col-xl-6 col-lg-6 ">
                            <%- include('../components/services-overview/content.ejs', {servicesOverview: t.components.servicesOverview}); -%>
                        </div>
                        <div class="col-12 col-xxl-6 col-xl-6 col-lg-6">
                            <%- include('../components/services-overview/content.ejs', {servicesOverview: t.components.servicesOverview}); -%>
                        </div>
                        <div class="col-12 col-xxl-6 col-xl-6 col-lg-6">
                            <%- include('../components/services-overview/content.ejs', {servicesOverview: t.components.servicesOverview}); -%>
                        </div>
                        <div class="col-12 col-xxl-6 col-xl-6 col-lg-6">
                            <%- include('../components/services-overview/content.ejs', {servicesOverview: t.components.servicesOverview}); -%>
                        </div>
                        <div class="col-12 col-xxl-6 col-xl-6 col-lg-6">
                            <%- include('../components/services-overview/content.ejs', {servicesOverview: t.components.servicesOverview}); -%>
                        </div>
                        <div class="col-12 col-xxl-6 col-xl-6 col-lg-6">
                            <%- include('../components/services-overview/content.ejs', {servicesOverview: t.components.servicesOverview}); -%>
                        </div>

                    </div>
                </section>
                <section class="process py-8 d-flex flex-column gap-4">
                    <h2 class="fw-bold">What We Offer</h2>

                    <div class="col-12 gap-3">
                            <%- include('../components/cycle-cards/content.ejs', {cycleCards: t.components.cycleCards}); -%> 
                    </div>
                </section>
            </div>

            <aside class="col-11 col-xxl-3 col-xl-3 col-lg-4 col-md-5 py-8 d-flex flex-column justify-content-between align-self-center">
                <div>
                    <%- include('../components/icon-banner-CTA/content.ejs', {iconBannerCTA: t.components.iconBannerCTA}); -%> 
                </div>

                <div class="card-body px-4 py-8 order-0 shadow-sm rounded-3 d-flex flex-column gap-8">

                    <h4 class="fw-bold">Our Services</h4>

                    <div class="border-bottom border-primary border-3" style="width:50px"></div>

                    <ul class="list-group d-flex flex-column">

                        <li class="rounded">
                            <a href="#" class="d-flex justify-content-between align-items-center py-3 px-2 ">
                                Construction Management
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>

                        <li class="rounded">
                            <a href="#" class="d-flex justify-content-between align-items-center py-3 px-2">
                                Design & Build
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>

                        <li class="rounded">
                            <a href="#" class="d-flex justify-content-between align-items-center py-3 px-2">
                                Renovation & Restoration
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>

                        <li class="rounded">
                            <a href="#" class="d-flex justify-content-between align-items-center py-3 px-2">
                                Interior Design
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>

                        <li class="rounded">
                            <a href="#" class="d-flex justify-content-between align-items-center py-3 px-2">
                                Project Consulting
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>

                        <li class="rounded">
                            <a href="#" class="d-flex justify-content-between align-items-center py-3 px-2">
                                Construction Maintenance
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>

                    </ul>

                </div>

                <div>
                    <%- include('../components/need-help-card/content.ejs', {needHelpCard: t.components.needHelpCard}); -%>
                </div>
                <div class="overflow-hidden rounded">
                    <%- include('../components/project-banner/content.ejs', {projectBanner: t.components.projectBanner}); -%>
                </div>
            </aside>

        </div>

   
        <section class="feature py-8 d-flex">
            <div class="container d-flex rounded-4 py-8 px-4 align-items-center flex-column flex-xxl-row flex-xl-row flex-lg-row flex-md-row">

                <div class="col-11 col-xxl-3 col-xl-3 col-lg-3 col-md-4 second-feature-card container-fluid d-flex flex-column gap-4 justify-content-start py-4" >
                    <h2 class="fs-mid-title fw-bold">Why Choose Us</h2>
                    <p class="fs-title text-text fw-medium">We combine experience, expertise, and dedication to deliver exceptional construction management services.</p>
                    <a href="#" class="bg-primary py-2 fw-bold text-uppercase rounded d-flex gap-5 justify-content-center align-items-center px-4 w-fit-content">
                        <span class="fs-small">LET'S WORK TOGETHER</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-9">
                    <%- include('../components/second-feature-cards/content.ejs', {secondFeatureCards: t.components.secondFeatureCards}); -%> 
                </div>
                
            </div>
        </section>

    </main>

    <%- include('../components/footer/content.ejs', {accountFeatures: t.components.accountFeatures}); -%>

    
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>