<%- include('../layouts/page/head.ejs' , {title: "teams", addCount: 0}); -%>

    <main class="d-flex flex-column" id="teams">

        <section class="hero bg-dark text-secondary position-relative position-relative">
            <div class="container py-10">

                <div class="row col-11 col-xxl-5 col-xl-7 col-lg-10 col-md-10 ">

                    <div class=" d-flex flex-column gap-5">

                        <span class="text-primary fw-bold text-uppercase"><%- t.pages.teams.heroSubtitle %></span>

                        <h1 class="fs-big-title fw-bold">

                            <%- t.pages.teams.heroTitle1 %>
                            <span class="text-primary"><%- t.pages.teams.heroTitle2 %></span>
                        </h1>

                        <div class="bg-primary" style="width:60px;height:3px;"></div>

                        <p class="text-secondary ">
                           <%- t.pages.teams.heroDescription %>
                        </p>

                    </div>

                </div>

            </div>

        </section>

        <section class="items py-0">
                <%- include('../components/statistics/content.ejs', {statistics: t.components.statistics}); -%>
        </section>
        
        <section class="experts ">
            <div class="container d-flex flex-column align-items-center gap-10">
                <div class="d-flex flex-column gap-2 text-center fw-bold col-10 col-xxl-6 col-xl-6 col-lg-8 ">
                    <h2 class="text-primary fw-bold fs-big text-uppercase"> <%- t.pages.teams.sectiontwosubtitle %></h2>
                    <span class="fw-bold text-uppercase"> <%- t.pages.teams.sectiontwotitle %></span>
                    <p class="text-text"> <%- t.pages.teams.sectiontwoDescription %></p>
                </div>

                <div class="row align-items-stretch justify-content-center gap-6">

                    <div class="p-1 col-4 col-xxl-2 col-xl-2 col-lg-3 col-md-3 flex-grow-1">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="p-1 col-4 col-xxl-2 col-xl-2 col-lg-3 col-md-3 flex-grow-1">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="p-1 col-4 col-xxl-2 col-xl-2 col-lg-3 col-md-3 flex-grow-1">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="p-1 col-4 col-xxl-2 col-xl-2 col-lg-3 col-md-3 flex-grow-1">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="p-1 col-4 col-xxl-2 col-xl-2 col-lg-3 col-md-3 flex-grow-1">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="p-1 col-4 col-xxl-2 col-xl-2 col-lg-3 col-md-3 flex-grow-1">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="p-1 col-4 col-xxl-2 col-xl-2 col-lg-3 col-md-3 flex-grow-1">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="p-1 col-4 col-xxl-2 col-xl-2 col-lg-3 col-md-3 flex-grow-1">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="p-1 col-4 col-xxl-2 col-xl-2 col-lg-3 col-md-3 flex-grow-1">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                    <div class="p-1 col-4 col-xxl-2 col-xl-2 col-lg-3 col-md-3 flex-grow-1">
                        <%- include('../components/team-card/content.ejs', {teamCard: t.components.teamCard}); -%>
                    </div>
                </div>

            </div>

        </section>

        <section class="feature d-flex">
            <div class="container d-flex rounded-4 py-8 px-4 align-items-center flex-column flex-xxl-row flex-xl-row flex-lg-row flex-md-row">

                <div class="col-11 col-xxl-3 col-xl-3 col-lg-3 col-md-4 container-fluid d-flex flex-column gap-4 justify-content-start py-4 border-end border-1" >
                    
                    <span class="text-primary fw-bold text-uppercase fs-big"><%- t.pages.teams.sectiontreeSubtitle %></span>

                    <h2 class="fw-bold fs-mid-title">
                        <%- t.pages.teams.sectiontreetitle1 %><br>
                       <%- t.pages.teams.sectiontreetitle2 %>
                    </h2>

                    <p class="text-text">
                        <%- t.pages.teams.sectiontreedescription %>
                    </p>
                    
                    
                    <a href="#" class="bg-primary py-2 fw-bold text-uppercase rounded d-flex gap-5 justify-content-center align-items-center px-4 w-fit-content">
                        <span class="fs-small text-uppercase"><%- t.pages.teams.sectiontreebtn %></span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-9">
                    <%- include('../components/feature-cards/content.ejs', {featureCards: t.components.featureCards}); -%> 
                </div>
                
            </div>
        </section>

        <section class="view py-8">
            <div class="container">
                <%- include('../components/position-card/content.ejs'); -%>
            </div>
        </section>

    </main>

    <%- include('../components/footer/content.ejs', {accountFeatures: t.components.accountFeatures}); -%>
    
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>